[2013-02-24 07:51] blackrim opened #1 "consolidate sequence / alignment readers"
There is a phylip reader and a fasta utils. These should be consolidated into a seq reader file.

[2013-02-24 18:57] #1 closed, assigned to nobody

[2013-03-03 05:12] blackrim opened #2 "pxbd time"
There is an error in the time calculation for the birth death calculator that gets negative branch lengths

[2013-03-03 23:23] josephwb opened #3 "No compiler recognition of changes in .h files"
Compiler should recompile when a .h file timestamp is newer. Must deal with .h files explicitly in makefile.

[2013-03-05 03:48] blackrim opened #4 "nw pairwise needs EDNAFULL and BLOSUM matrices hardcoded"

[2013-03-05 19:52] #4 closed, assigned to blackrim

[2013-03-06 16:22] josephwb opened #5 "Programs hang when no input given"
So I see a number of the programs that can process stdin (the majority) hang waiting for input when none is given. We should fix this.

When an argument _must_ be given (e.g. mrca file for pxmrcaname), we can use:

if (argc == 1) {
        cout << "No arguments given." << endl; // and possibly give usage
        exit(0);
}

Easy. The trouble is with programs that can get by with _only_ stdin. If n

[2013-04-06 01:28] #5 closed, assigned to josephwb

[2013-04-09 15:47] josephwb opened #6 "Need (portable) more precise random number seed"
Currently using:

srand((unsigned)time(NULL));

Precision time is 1 second. For programs that execute quickly (all of them!), can end up using same seed multiple times. Alternatives are available, but seem to be platform-specific.

[2014-04-25 19:57] josephwb opened #7 "Problem with -march=native on mac"
Apparently only works for [linux](http://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html):

"-march=native causes the compiler to auto-detect the architecture of the build computer. At present, this feature is only supported on Linux, and not all architectures are recognized. If the auto-detect is unsuccessful the option has no effect."

Except, compilation on mac dies horribly with "no such instructi

[2014-04-25 20:04] josephwb opened #8 "Not finding gfortran on mac"
Yep, another mac issue. Make assumes gfortran lives in:
[code]
I installed it with homebrew, so it is actually here:
[code]

[2014-04-26 12:58] chinchliff opened #9 "pxstrec doesn't build on ubuntu 13.10"
the linker isn't happy.

[code]

[2015-01-07 15:05] josephwb commented on #8
Think this has been fixed for a while.

[2015-01-07 15:05] #8 closed

[2015-01-07 15:06] josephwb commented on #7
This has been fixed.

[2015-01-07 15:06] #7 closed

[2015-05-26 20:10] josephwb opened #12 "Have configure handle icc-specific installation"
Configure should grab all info relevant to icc-specific compilation, specifically `OPT_FLAGS` that are set in the Makefile.
Definitely not urgent.

[2015-06-23 14:48] josephwb opened #13 "Better handling of #includes"
There are some tools that can do this (e.g. for [clang](https://code.google.com/p/include-what-you-use/)). Better than mucking with it manually. I cannot find an automated way to do this with netbeans yet.

Should probably decide on guidelines for `#includes` as well. Seems to be two (vocal) camps: 1) `#includes` are _only_ in cpp files (not headers), or 2) headers should contains enough `#include

[2015-06-23 14:49] josephwb commented on #9
Is this still an issue? Maybe @jfwalker can check (since he is using Ubuntu).

[2015-06-23 14:55] josephwb commented on #2
Do you have an example that will generate this (b, d, e/t, and seed)?

[2015-06-23 14:58] jfwalker commented on #9
Looks like it builds and runs on Ubuntu now

[2015-06-23 14:59] josephwb commented on #9
Thanks.

[2015-06-23 14:59] #9 closed

[2015-06-23 15:16] blackrim commented on #2
how do you mean? birth death extant time and seed? can only do birth death
time seed or birth death extant seed
should be pxbd -b 1 -d 0.1 -t 5 -s 1 or pxbd -b 1 -d 0.1 -e 5 -s 1

On Tue, Jun 23, 2015 at 10:55 AM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-06-23 15:27] josephwb commented on #2
Yeah, the "e/t" was supposed to mean e _or_ t.

I just meant a combination that generates negative branch lengths so it could be identified and fixed.

[2015-06-23 15:29] blackrim commented on #2
Oh, I see. I don't have an example that does that.

On Tue, Jun 23, 2015 at 11:27 AM, Joseph W. Brown <notifications@github.com>
wrote:

[2015-06-23 15:31] josephwb commented on #2
Ok, I can set up a loop to try and find an example.

[2015-07-07 02:36] josephwb commented on #3
Fixed with [this](https://github.com/FePhyFoFum/phyx/blob/c5857083e375303b177826d6323fb558ee1907f2/src/Makefile.in#L267-268). *.d files specified *.d targets (themselves) instead of *.o targets.

[2015-07-07 02:36] #3 closed

[2015-09-10 15:48] blackrim opened #14 "pxseqsamp repeats last sequence"
when pxseqsamp runs a bootstrap, it repeats the last seq.

[2015-09-10 15:56] blackrim commented on #14
fixed this with 63ae4a3

[2015-09-10 15:56] #14 closed

[2016-03-30 20:21] jfwalker opened #15 "pxsw does not print out to file"

[2016-03-30 20:28] josephwb commented on #15
Can you paste some example data and commands to recreate the problem? :bowtie:

[2016-03-30 20:35] jfwalker commented on #15
Any fasta file should recreate the problem, it only creates the files for output it does not put anything into them
[aatest.zip](https://github.com/FePhyFoFum/phyx/files/196405/aatest.zip)

[2016-04-01 17:12] josephwb commented on #15
Fixed.

[2016-04-01 17:12] #15 closed

[2016-04-01 17:36] josephwb commented on #2
I tried a bunch of iterations of:
[code]
(including different parameter values) and cannot recreate the problem.

[2016-04-01 17:58] josephwb commented on #2
`pxbd` now has a `nreps` option:
[code]
This should help in the search for negative edge lengths. However, I've simulated a ton and have not hit anything yet.

[2016-04-01 20:01] jfwalker opened #16 "pxrr loses certain taxa names"
When trying to reroot, one of the taxa names is not printed out to the rerooted tree
cmd: ./pxrr -t cluster5535.tre -g Beta,Spol
[cluster5535.tre.zip](https://github.com/FePhyFoFum/phyx/files/200261/cluster5535.tre.zip)

[2016-04-01 20:11] josephwb commented on #16
Weird. Tree is rooted correctly, taxon is "there", just no name:
[code]

[2016-04-01 20:13] josephwb commented on #16
Same if only specifying one outgroup:
`./pxrr -t cluster5535.tre -g Beta`

[2016-04-01 20:13] jfwalker commented on #16
All the trees seem to root just fine but one of the taxon names disappears

[2016-04-01 20:44] josephwb commented on #16
I fixed it for this example:
[code]
but may have broken it for others. I will look closer at this later, but this is the commit: https://github.com/FePhyFoFum/phyx/commit/c859e8d9ef2d4ed7ccf8dacd8bc4aebbdd99140c

As you can see I just reversed something that @blackrim had done (which makes me think this will break other things his change had fixed).

[2016-04-04 14:30] josephwb commented on #16
From @jfwalker's testing this seems to be fixed. Closing for now.

[2016-04-04 14:30] #16 closed

[2016-04-04 14:37] josephwb opened #17 "pxrr needs better name checker"
From @jfwalker: `pxrr` segfaults is outgroup not in the tree.

Specifying a single bad outgroup seems to work fine (real outgroup is "Beta"):
[code]
But barfs with 1 good and 1 bad outgroup:
[code]
Here is the example tree ("cluster5535.tre"):
[code]

[2016-04-04 14:47] josephwb commented on #17
Ok, `tree_utils.cpp` has "check_names_against_tree", which seems to solve this (3fb3e6d05ce10acdda7cfa6aff6cf4f354c0ae0e).

Not sure what the correct return should be here. If an error message is printed, but it is part of a (stream) pipeline, that string will take the place of the newick string, and things will die downstream.

What is the unix-approach to this? Print nothing?

[2016-04-04 14:49] josephwb commented on #17
This is what it currently does:
[code]

[2016-04-04 14:51] jfwalker commented on #17
I think the most helpful is saying Taxon 'Beta123' not found in tree. Anything else might result in troubleshooting until the problem is figured out

[2016-04-05 16:30] josephwb opened #18 "Need consistent naming of programs"
Most sequence-targeted programs begin with `s`, while most tree-targeted begin with `t`, but this is by no means standard. Program names should be (I think):

1. Intuitive
2. Short(ish)

Obviously 2 should not impede 1.

A couple suggestions:

1. `pxclsq` -> `pxscln`
2. `pxconcat` -> `pxscat` (or just `pxcat`)
3. `pxseqgen` -> `pxsgen`

[2016-04-05 17:11] josephwb commented on #18
Made the change `pxconcat` -> `pxcat`

[2016-04-07 13:43] jfwalker opened #19 "pxseqrecode does not work with lower case"

[2016-04-07 13:50] #19 closed

[2016-04-07 14:09] josephwb commented on #17
Looking for feedback from @blackrim here: if only a subset of outgroup taxa are found, should `pxrr` use these to root the tree and not complain. @jfwalker and I think this is good for p4rocessing a distribution of trees. What if _no_ outgroup taxa are found? Should 1) the tree be returned unaltered or 2) print a complaint?

[2016-04-07 14:17] blackrim commented on #17
hm, how do you mean that only a subset are "found"? as in they were misspelled or not all trees are complete? i think the cleanest thing would be to print an error and no tree. then if you want to root with a subset (as in the distribution) there should be another option that suppresses that error and roots with whatever is there (in some cases none). what do you think?

[2016-04-07 14:18] josephwb commented on #17
Yeah, I meant trees are incomplete (not typos). Having a separate option sounds like a good idea. Thanks.

[2016-04-07 14:30] jfwalker opened #20 "pxstonex output calls Amino Acid Files dna"
./pxstonex -s cluster1061.fa.nuc

[cluster1061.fa.nuc.zip](https://github.com/FePhyFoFum/phyx/files/208560/cluster1061.fa.nuc.zip)
[cluster1061.fa.zip](https://github.com/FePhyFoFum/phyx/files/208561/cluster1061.fa.zip)

[2016-04-07 14:32] jfwalker opened #21 "pxstophy crashes for nucleotide files"

[2016-04-07 14:34] josephwb commented on #20
Works fine for other fasta files. I thought it might have been the mixed casing, but now I think it is because in that one the sequences are of (vastly) different lengths.

[2016-04-07 14:37] #21 closed

[2016-04-07 14:44] josephwb commented on #20
I will fix the "AA as DNA" bug.

[2016-04-07 14:56] josephwb commented on #17
I guess I was thinking that in unix if you try to perform some manipulation (e.g. gsub) that has no effect (here, no substitution), the original data is returned unaltered, with no error.
So I wonder which we should do:

1. barf out a error message if any outgroup taxa are not found, _unless_ some sort of "silient" flag is passed.
2. do not print any error messages, _unless_ a "verbose" flag is pa

[2016-04-07 18:40] jfwalker opened #22 "pxconseq does not work with lower case"

[2016-04-08 18:37] josephwb commented on #20
This is fixed with 966a0c99c6d5e0a1f8a0805c4b6dc2a191f85223.

[2016-04-08 18:37] #20 closed

[2016-04-08 18:42] josephwb commented on #22
Doesn't work how? Segfault, or incorrect results?
Are you sure that you tried an example file where all sequences were the same length?

[2016-04-08 18:49] josephwb commented on #22
It works for me with lowercase. Maybe you tried an amino acid alignment? As far as I can see, although it specifies `int alpha: the alphabet with 0=dna, 1=aa`, only DNA is implemented.

[2016-04-08 18:51] jfwalker commented on #22
That might be the issue because it is working for me now with a nucleotide alignment

[2016-04-08 18:52] josephwb commented on #22
Yeah, because there is a `inc = toupper(inc);`, so casing should not be a problem.

[2016-04-08 19:05] josephwb commented on #22
I will just write the amino acid part.

[2016-04-08 20:50] josephwb commented on #22
This (7440c5ce16fe492d32be190a0b471fddfba359a2) should do it. It makes use of the infer sequence type code added recently, so user does not have to specify what kind of alignment is involved.

Needs testing though!

[2016-04-08 20:55] jfwalker commented on #22
The only issue I can find is that if the AA seq has missing data as '-' in it, then the consensus will call that 'N' instead of 'X'

[2016-04-08 20:56] josephwb commented on #22
That is what the DNA consensus does, so I just assumed AA would be the same. Easy to change.

[2016-04-08 21:17] #22 closed

[2016-04-14 17:49] josephwb commented on #17
Implemented a `silent` flag. This is the way things currently stand: given tree file `foo.tre`:
[code]
And outgroups: `Beta123` and `Spol`. Tree 1 has both outgroups, tree 2 has 1, tree 3 has none).
Running without `silent`:
[code]
Running it with `silent` turned on gives this:
[code]
In particular, the 3rd tree is returned unaltered (beyond adding zero edgelengths). Is this what we want? I can se

[2016-05-11 16:05] #17 closed

[2016-05-11 16:09] #18 closed

[2016-05-11 18:45] josephwb opened #23 "pxnni gets Floating point exception"
Running `pxnni` multiple times sometimes generates:
[code]
This is unrelated to the upgrade in random numbers I am doing. I'll look at this when I get done that.

Not sure if this is a problem involving root, etc. For reference, "ultra_100.tre" is:
[code]

[2016-05-15 20:49] jfwalker opened #24 "core dumped error when running more than one character for pxcontrates"
EX:  ./pxcontrates -c contrates_file.txt -t ultra_100.tre -a 0

[pxcontrates_example.zip](https://github.com/FePhyFoFum/phyx/files/265248/pxcontrates_example.zip)

[2016-05-17 13:04] josephwb commented on #24
Hmm. I can recreate the issue, but don't yet know what is going on; I will track it down today. FWIW, I had made my own dummy examples files for the program the other day, and it runs fine (same tree as in your example):
[code]

[2016-05-17 13:06] josephwb commented on #24
Ha. Changing your example data to floats rather than integers makes it work. This seems easy to fix, and reveals a simple bug. Not sure why the first character analysis completes before the crash...

[2016-05-17 17:55] jfwalker opened #25 "Segmentation fault (core dumped) error when using the (-m) option of pxseqgen"
./pxseqgen -t your_tree.tre -o outfile.txt -m .33,.33,.33,.33,.33,2,.3,.3,.2,.5,.4

[2016-05-17 20:26] josephwb commented on #25
You are missing 2 substitution parameters in the call above. Nevertheless, an error should be returned instead of a segfault. Should be a very easy fix.
We might want to change how args are passed here. I think maybe they should be separated, say: -m for the background model, then -m2 for the model beginning at node 2, etc. But I'll fix this as it is now setup first.

[2016-05-18 19:17] josephwb commented on #25
Fixed with d93435963899ed0afff294031241c6e1d627e12a. However, in implementing the check it is clear that this setup is very clunky. Should return to alter this at some point.

[2016-05-18 19:17] #25 closed

[2016-05-19 15:12] josephwb opened #26 "General check if files exist"
Need explicit check if file(s) exist. Currently prints:
[code]
if file does not exist, which is misleading.

[2016-05-19 15:53] josephwb commented on #26
Should be addressed with 9aa98a4 .

[2016-05-19 15:53] #26 closed

[2016-05-19 18:31] josephwb commented on #24
Erg. I swear changing the data to floats worked the other day... Seems like the problem involves `col()` from Armadillo. My guess is that the data from the first character are somehow contaminating the second character (I've run them separately and it works)

[2016-05-19 19:48] josephwb commented on #24
Ok, I know what is going on. Will fix this evening.

[2016-05-24 20:26] josephwb commented on #24
I give up; it is not the node annotations as I thought. But the first character is definitely contaminating the second character.
Here is the example data I've been using:
tree:
[code]
data:
[code]

[2016-05-26 16:04] josephwb commented on #24
Fixed by @blackrim with 9c1ca2a46878d64c373d2c5f528a5061c8e51198.

[2016-05-26 16:04] #24 closed

[2016-06-01 18:55] josephwb opened #27 "should pxbdsim produce trees with just a single terminal"
Under some parameter combinations, "trees" such as:
[code]
are produced.

In one sense I think this is actually fine: start with 1 lineage, end with 1 lineage (with potentially others arising and going extinct). The problem is that 1) tree readers cannot deal with such a "tree", and 2) the branch length information is lost (i.e. how old is the tree?).

So, what is the desired behaviour here? Bump

[2016-06-02 13:20] josephwb commented on #27
One way to deal with this (i.e. it allow tree readers to ingest trees) is if the tree has just a single terminal, write
[code]
rather than
[code]

[2016-06-02 17:24] josephwb opened #28 "pxbdsim produces tips with zero branch lengths with time stop criterion"
For example:
[code]
Indeed, it always seems to happen, even with large trees:
[code]
Since I am in the guts of this now I will see what is going on.

[2016-06-02 17:35] josephwb commented on #28
Ah, it seems this happens if the next event is a speciation, but occurs _after_ the stop time.

[2016-06-02 19:10] josephwb commented on #28
I believe d04fb34cdf6478f5744caa83ea1ec873f303d455 fixes this.

[2016-06-02 19:10] #28 closed

[2016-06-03 18:38] josephwb commented on #27
pxbdsim now exports single terminal trees as `(taxon_1);` rather than `taxon_1;`, but this is *not* available for other programs at the moment (not that others would likely need the feature).

[2016-06-06 17:58] #27 closed

[2016-06-06 18:06] josephwb commented on #23
I added a seed arg to `pxnni` so things can be replicated. The tree above fails with:
[code]

[2016-06-06 19:14] josephwb commented on #23
I imagine [this](https://github.com/FePhyFoFum/phyx/blob/master/src/tree_utils.cpp#L127) is the problem.

[2016-06-07 03:13] josephwb opened #29 "Precision problems with checking ultrametricity"
Currently relies on [all_equal](https://github.com/FePhyFoFum/phyx/blob/master/src/utils.cpp#L464), but (presumably) rounding errors returns false when really true.

[2016-06-07 03:55] josephwb commented on #29
72b4fa656c9c58ea5bf85fca9414d0694ae1689d better recognizes truly ultrametric trees. Likelihoods and parameter estimates from `pxbdfit` are _slightly_ off from that of `ape` (at fourth decimal place). Not sure if this is a further precision problem, or perhaps a non-optimal threshold (or number of iterations) in the optimizer. I'll look into this tomorrow, but this is definitely an improvement.

[2016-06-07 14:34] josephwb commented on #6
Solved with @blackrim finding `std::chrono::high_resolution_clock::now().time_since_epoch().count()`.

[2016-06-07 14:34] #6 closed

[2016-06-07 15:06] josephwb commented on #2
I think this is behaving correctly. Closing.

[2016-06-07 15:06] #2 closed

[2016-06-07 15:08] josephwb opened #30 "Generate all NNI neighbours"
Extend `pxnni` to have the ability to generate _all_ possible NNI rearranged trees (of which there are 2(n-3) possible for an unrooted tree).

[2016-06-09 17:45] josephwb commented on #23
More issues: it seems that sometimes 1) a node is dropped from the tree entirely, or 2) the tree is returned unaltered (i.e. the random choice is the same as the original).

[2016-06-10 19:11] josephwb opened #31 "make install"
Should have both a `make install` and `make uninstall` targets.

[2016-06-10 19:16] josephwb commented on #31
Ok c16875f550844851d82538cace0af7dd8151362a adds this, but `prefix` is hardcoded. Changing that now.

[2016-06-10 19:34] josephwb commented on #31
Ok, done: 3d0c1c0b10e0a2883681f50d123ca23f0257e2c2. Prefix must be an absolute path, apparently, but things like
`$HOME/some/specific/dir/`
works with expansion.

[2016-06-10 19:34] #31 closed

[2016-06-28 16:54] josephwb opened #32 "Install broken with gcc 6?"
Updated gcc on my mac to v6.1.0 and now `sudo make install` does not work:
[code]
A simple work around is to simply change:
[code]
to:
[code]
but that isn't very satisfying. Perhaps @jfwalker should try doing this on his system to rule out some weird setup of my own.

It doesn't seem that debian yet supports gccv6.1.0 (I am actually using gccv4.9.2?). We should try some other flavour of linux (ubu

[2016-06-28 18:25] josephwb commented on #32
Hmm. gcc-5 (on mac) also has this problem...

[2016-06-28 18:31] josephwb commented on #32
_and_ gccv4.8. I _think_ this was working before...

[2016-06-28 18:56] josephwb commented on #32
Well, crap. This is apple's fault, not gcc.

Apple made a change where (I am not shitting you) a user, even using `sudo`, cannot copy something into `/usr/bin`.

So, looks like we have to find a better default install location. Ideas?

[2016-06-28 19:31] josephwb commented on #32
Ok, this is fixed by c918a068fc71bba6c3996f6d68079ffd09d52249 by changing default install location to `/usr/local/bin`

On linux, installing here requires `sudo`, but on mac does not. Blech.

[2016-06-28 19:31] #32 closed

[2016-06-30 14:36] josephwb opened #33 "Write NJ tree edgelengths in terms of per site (not raw counts)"
Just need to divide by sequence length.

[2016-06-30 15:27] josephwb commented on #33
Seems fixed by b90ca56868338d7c362ae915628f5b3f7238240d, but we should check that the values are correct.

[2016-06-30 15:27] #33 closed

[2016-08-11 13:47] josephwb opened #34 "Ability to read in nexml"
This seems like it would be useful, but not urgent.

[2016-09-05 21:59] josephwb opened #35 "Make homebrew install script"
Include gcc dependency.

[2016-09-13 10:47] josephwb opened #36 ""Argument list too long""
Involves programs that can take wildcards e.g. `pxcat`:
[code]
The solution seems to be to pass a file which itself lists the input files. Unfortunately, this has the same problem (for some OSs e.g. Mac):
[code]
However, the following seems to work for both linux/mac:
[code]
So `flist.txt` can be passed instead of the wildcard, and parsed when it needs to be.

[2016-09-13 11:37] josephwb commented on #36
I've got this implemented in `pxcat`, just running it to make sure it works. Seems _really_ slow, though. I wonder if we might make it more efficient somehow.

[2016-09-13 12:37] josephwb commented on #36
`pxcat` issue solved with dd0d08f84c3e94a7a871de961622ea66531c1204. Use this strategy with others.

[2016-09-13 12:37] #36 closed

[2016-09-13 12:39] josephwb opened #37 "pxcat seems slow"
Potential ways to make faster:
1. eliminate unnecessary object creation/destruction
2. two-passes over files?

[2016-09-13 13:05] blackrim commented on #37
What are the stats on this?

[2016-09-13 13:07] josephwb commented on #37
11 minutes for 17k files.

[2016-09-13 13:08] blackrim commented on #37
What is the avg size of the files or the total size?

[2016-09-13 13:15] josephwb commented on #37
17871 files, total of 310 MB.

[2016-09-13 13:18] josephwb commented on #37
Two-passes will probably be much worse, as files would have to be opened, read, and closed two times each. The idea was to learn pattern of absence on first pass, do real work on second. I don't think this will work.

Getting rid of the unnecessary object creation seems easier and necessary.

[2016-10-06 14:32] josephwb opened #38 "Test for clocklikeness"
Would probably be useful. :clock8: :+1:

[2016-10-10 16:16] blackrim commented on #38
done in `pxlstr` now

[2016-10-10 16:17] blackrim opened #39 "add quotes to tree output with weird char"
needs to be in the tree writer (it is in the tree_reader now)

[2016-10-11 18:11] josephwb opened #40 "Handle internal quotes in node labels"
Reading quoted labels works whether labels start/stop with single or double quotes. However, it is not yet supported the [newick convention](http://evolution.genetics.washington.edu/phylip/newick_doc.html) of double-single quotes to represent internal single quotes, e.g.

'Swainson''s Hawk' == "Swainson's Hawk"

Currently, the first single quote after Swainson would be interpreted as the end of th

[2016-10-17 19:53] josephwb commented on #38
Reporting the variance is useful, but I think we discussed having a PAUP-style clock test would be good too. This is lower priority.

[2016-11-01 19:14] josephwb opened #41 "pxbp requires rooted trees?"
I tried analyzing all possible trees for 5 taxa:
[code]
and got weird results:
[code]
e.g. the clade `(A,B)` is missing. I imagine because these are all unrooted? It would be nice if it also worked for unrooted trees.

[2016-11-01 19:20] josephwb commented on #41
While we're here, also get a problem when rooting. Rooting tree:
[code]
on 'E' gives:
[code]
Running `pxbp` gives odd results:
[code]
Removing the edges lengths:
[code]
runs fine:
[code]
So I guess it expects no edge lengths? This would be an easy fix.

[2016-11-02 13:32] josephwb commented on #41
Maybe move the parts stuff out to a separate function? When I am done with my current project I will pick up a RF distance calculator I was working on that could make use of that code.

[2016-11-04 19:08] blackrim commented on #41
there is something else wrong on your end. i get the right result
[code]

[2016-11-04 19:08] #41 closed

[2016-11-04 19:12] josephwb commented on #41
I am getting the same results as before...

[2016-11-15 11:18] josephwb opened #42 "Some programs segfault when run without arguments"
Noted during review:

[2016-11-15 11:24] josephwb opened #43 "Manual overhaul"
Noted in review. I admit I do not like working with a Word document; markdown or latex would be easier. The example setup is a bit clunky and hard to manage, too.

#############################

Manual:

The manual is off to a great start, but needs to be brought in sync with the current state of the repo -- e.g. folder names don't match and some programs appear to be missing. Perhaps it's an out-

[2016-11-15 11:26] josephwb opened #44 "Unittests"
Noted in review:
## Tests

-   Unfortunately, neither the publication nor the manual make mention of any unitttests or indeed tests of any kind. Furthermore, looking at the repository, there is also no evidence of tests of any kind.
-   I am afraid that I cannot recommend this software for publication without demonstration and documentation of tests. There is no reason for academic software to be

[2016-11-15 11:36] josephwb opened #45 "Provide mac binaries?"
Oi.

This would obviously be nice, but a _huge_ headache given, well, mac. The install instructions have worked across versions for us, but obviously not for a reviewer.

I will look into (somehow) producing binaries that are supported across multiple versions, but since I have never been able to do so in the past, I am not optimistic.

[2016-11-16 20:16] josephwb opened #46 "Line endings"
The perennial problem: different flavours of carriage returns. Gah.

I've noticed this problem in using `pxlssq` on a file with mac line endings.

Not aware of a general purpose way to deal with this, but it must exist.

Low priority.

[2016-11-17 22:59] blackrim commented on #44
I will be writing these. For now, they will be part of the make framework to test input and output (and so that `make test` will do this for the users). In the future, I will use googletest to do unit tests on individual functions. However, I will make a new issue when we get to that point

[2016-11-17 23:00] blackrim commented on #45
Are you going to do this @josephwb ? I can assign you.

[2016-11-18 00:27] josephwb commented on #45
Gah. Sure, I guess, but I think this is low priority (i.e. I have more pressing things right now).

[2016-11-18 01:29] blackrim commented on #45
sounds good. i can try as well after i get the tests

On Thu, Nov 17, 2016 at 7:27 PM, Joseph W. Brown <notifications@github.com>
wrote:

[2016-11-18 19:49] blackrim commented on #44
These are starting to go up with this a420e359bc0c2cfe10c2235d217be08dff210183. Finishing them up now

[2016-11-18 19:49] blackrim commented on #42
This has started to get fixed with 8799b2f3de68f868c592afb15c6b5e7ef4a9e826. Getting there

[2016-11-18 20:34] blackrim commented on #42
done 593ff87

[2016-11-18 20:34] #42 closed

[2016-11-19 03:45] #44 closed

[2016-11-22 18:33] josephwb commented on #45
Decided to go with clearer install directions, as supporting multiple versions seems like a pain.

[2016-11-22 18:33] #45 closed

[2016-11-30 14:52] josephwb opened #47 "consel-like calculator"
Seems like it would be fairly easy to do.

[2016-11-30 14:54] josephwb commented on #43
Most of this is done (and thanks to @jfwalker for redoing this in latex format!).

I have not touched on the last thing yet:

[2016-11-30 14:56] josephwb commented on #35
Now that we have a clang-friendly install, this doesn't seem impossible. Although I think some of the deps need special installation still.

[2016-11-30 20:52] josephwb opened #48 "Need more translation tables"
For `pxtlate`.

[2016-11-30 21:11] josephwb commented on #48
I've added a couple (was just standard):
[code]
Not sure if we need more, or if so, which. But it is easy now to drop in another one.

[2016-12-06 20:19] josephwb opened #49 "Master help?"
@ningwang83 has mentioned that remembering what each program does is difficult (there are so many!). I wonder if we could use a "master help" program, like:
[code]
which prints out a _very short_ description of each program, and maybe an example command.

[2016-12-06 20:55] josephwb opened #50 "No tree returned from pxrr if root inferred already the same"
Identified by @ningwang83. For the following tree:
[code]
and the specified outgroups "-g Rhynchortyx_cinctus,Caloperdix_oculeus", `pxrr` reports:
[code]
(The second error, "the outgroup taxa don't exist in this tree", is a different problem in that the first condition causes a false to be passed).
A problem here is that the original tree is not rooted at all:
[code]
so the error is occurring earl

[2016-12-07 14:41] blackrim commented on #49
I think I would have one that is `phyx` instead of `pxh`.

[2016-12-07 17:39] rossmounce opened #51 "No example file given for how to supply a file-list of tips to pxrmt"
Just a small documentation suggestion.

It appears from the Phyxed_manual (2016-12-02) that the file formatting of the list of tips one can supply to `pxrmt` is undocumented. No example tips file is given in `phyx/example_files/pxrmt_example`.

Now obviously you & I might think it obvious that taxon names should be supplied in a file one per line c.f. `grep -f <PATTERN FILE>` and other unix classi

[2016-12-07 17:52] jfwalker commented on #51
We've update the examples in the past few days so there should be one if you pull again

[2016-12-07 17:52] josephwb commented on #51
Thanks for the suggestion. The help is pretty clear on this:
[code]
but i will update the manual.

[2016-12-07 18:50] rossmounce commented on #51
Ah sorry, didn't think to try `pxrmt -h`

[2016-12-07 18:52] josephwb commented on #51
I think this is fixed with https://github.com/FePhyFoFum/phyx/commit/34618fdf00e947e21130295ee90d5a64a678a6c4

[2016-12-07 18:52] #51 closed

[2016-12-07 18:53] josephwb commented on #51
BTW we appreciate the issue reports! :hatched_chick:

[2016-12-07 21:04] josephwb commented on #50
The failure to root problem is fixed with d62561c (albeit extremely hackily). :bowtie:

[2016-12-07 21:04] #50 closed

[2016-12-08 20:07] josephwb commented on #48
I think this is pretty good. Added to manual that we welcome requests for additions from [here](https://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi).

[2016-12-08 20:07] #48 closed

[2016-12-08 20:07] josephwb commented on #43
I think we can considered this completed.

[2016-12-08 20:07] #43 closed

[2016-12-08 20:09] josephwb commented on #13
Closing this as it is vague and more stylistic than functional.

[2016-12-08 20:09] #13 closed

[2016-12-09 20:51] josephwb commented on #40
Should be fixed (at least for external labels) with 477a0d8.

[2016-12-09 21:24] josephwb commented on #40
And now added for internal node labels.

[2016-12-09 21:24] #40 closed

[2017-01-31 14:27] josephwb opened #52 "Program that collapses poorly supported edges"
Pretty simple, but very useful!

User will provide a tree file and a minimum threshold: any edge with support < threshold gets collapsed.

[2017-02-09 12:53] kloetzl opened #53 "Code Quality"
I'll just leave some issues here, which I found by briefly glimpsing over the source code.

- [`i` should be of type `size_t`](https://github.com/FePhyFoFum/phyx/blob/master/src/distmatrix.cpp#L23)
- [There is a constructor for that](https://github.com/FePhyFoFum/phyx/blob/master/src/distmatrix.cpp#L42-L45)
- [using a `float` as a boolean flag‽](https://github.com/FePhyFoFum/phyx/blob/master/src/d

[2017-02-09 13:56] josephwb commented on #53
Thanks!

[2017-02-09 14:17] josephwb commented on #53
Most of these involved `distmatrix.cpp`, which isn't being used. I've made most of the other changes.

[2017-02-09 14:17] #53 closed

[2017-02-09 14:21] kloetzl commented on #53
Yeah, I just scanned a few files and compiled a list of issued. ☺

[2017-02-17 06:58] afif-elghraoui opened #54 "new release?"
I'm considering packaging this for Debian, but I noticed that the latest release is very far behind the current master. Do you have plans to tag a new release soon, or is that release (0.9) the recommended version for us to use?

[2017-02-17 12:31] josephwb commented on #54
No, we definitely need to make a new release (thanks for checking). I'll leave that to @blackrim

[2017-02-19 16:55] blackrim commented on #54
done! Thanks @afif-elghraoui

[2017-02-19 16:55] #54 closed

[2017-02-20 16:21] afif-elghraoui commented on #54
Many thanks! I've just filed an [intent-to-package phyx](https://bugs.debian.org/855597) over at Debian and got started on the packaging.

[2017-02-23 10:15] kloetzl opened #55 "trees with internal line breaks"
pxbp segfaults on the attached file [29ecoli.txt](https://github.com/FePhyFoFum/phyx/files/796161/29ecoli.txt). Might be related to the extra line breaks.

Also happens with pxlstr

[2017-02-23 10:23] jfwalker commented on #55
Hi,

The line breaks are used to recognize if a file has multiple trees, since you only have one tree one option you do is to pipe the file is as follows
[code]
by piping the file it will automatically read it into pxbp or pxlstr so there is no need to specify the -t option, hope this helps!

[2017-02-23 10:35] kloetzl commented on #55
That works. But your parser should be able to recognize, that the tree is not done yet.

[2017-02-23 11:02] kloetzl opened #56 "missing manpages"
phyx would profit from manpages. To get you started, I provided one for [pxlstr](https://github.com/kloetzl/phyx/blob/manpages/doc/pxlstr.1). Once #49 is done, that might be a useful entry point for users looking for help if it also gets a man page.

[2017-02-23 11:09] kloetzl opened #57 "pxlstr arguments"
The help for `pxlstr` states *By default returns all properties. Alternatively choose 1 property.* However, this does not apply to the `-i` flag. It simple gets ignored, when combined with any of the other flags.

Also, when two arguments clash, I would suggest to exit with a non-zero status code to indicate an error.

[2017-02-23 11:42] kloetzl commented on #56
man pxlstr

[2017-02-23 11:44] josephwb commented on #57
Thanks for finding that. I will make it consistent with the other properties.

[2017-02-23 11:46] josephwb commented on #56
I understand. But is that better than `-h`? With the current configuration code and doc sit together. I'm worried if they ever get separated they have the potential to diverge.

[2017-02-23 11:51] kloetzl commented on #56
As you try to be *UNIXy* I strongly suggest you provide a manpage. Your `-h` is great, but a manpage simply can offer more information. Also no one reads the docs. But manpages might help bring the documentation closer to the user.

[2017-02-23 11:53] josephwb commented on #55
Hmm. I see the issue, and understand the logic, but how would such a tree be constructed? I am unaware of programs that generate trees with internal line breaks. There are many ways to make data messy; we certainly cannot support all. phyx was modelled based on processing _lines_. We can update the tree reader to consider this scenario (it currently expects a tree to line entirely within a single

[2017-02-23 11:57] kloetzl commented on #55
PHYLIP :roll_eyes:

[2017-02-23 12:02] josephwb commented on #55
Really?!?

I still consider it very low priority then :bowtie:

[2017-02-23 12:03] kloetzl commented on #55
Yeah. Unfortunately, people still use that thing.

[2017-02-23 12:16] kloetzl commented on #55
Instead of a segfault you could print a 'unexpected line break in tree definition' error.

[2017-02-23 12:18] josephwb commented on #55
Yes, I was just teasing about phylip. Please do not destroy us Dr. Felsenstein.

Currently all ~40 programs assume a tree resides on a single line. To make things more general I've changed the title of this issue, and we'll come up with a solution (even if it is just to report an error).

[2017-03-22 18:34] dilut opened #58 "pxrls path in run_tests.py"
The command for pxrls in the test script (run_tests.py) is missing the relative path (./), so the shell fails to find it and the test script reports test failure for pxrls. The component (pxrls) runs successfully with the proper path.

[2017-03-22 18:36] josephwb commented on #58
Nice catch! I guess we missed it because we had it installed. Thanks.

[2017-03-22 18:39] josephwb commented on #58
Fixed with 1ad74c46bb63f55ea06b548012f27a0b996b5c24

[2017-03-22 18:39] #58 closed

[2017-03-27 18:42] blackrim commented on #57
is this still open?

[2017-03-27 18:44] blackrim commented on #55
I think I have a potential solution but will take a bit to implement. so not yet there.

[2017-03-27 20:06] josephwb commented on #57
Yeah, I have not fixed it yet.

[2017-04-18 19:59] josephwb opened #59 "pxrl* should be able to use regex"
Would be very convenient to be able to use regex when relabelling alignments (`pxrls`) or trees (`pxrlt`). ATM I am writing ("bad") labels to file, performing `sed` on them (to make "good" names), and using phyx to relabel.

[2017-04-18 20:05] josephwb commented on #59
e.g. to relabel all files (with different sampling) by removing a suffix:
[code]
Works but not very elegant.

[2017-04-21 05:12] vmikk opened #60 "Install phyx via conda"
Hello!
Thanks a lot for `phyx`, it looks very promising!
However the installation instructions may seem a bit scary for some users.
Do you plan to distribute `phyx` via [conda](https://conda.io/docs/) (e.g., through [bioconda](https://bioconda.github.io/) channel)? It's quite popular now and allows to easily handle package dependencies and update the software.

With best regards,
Vladimir

[2017-04-26 19:12] blackrim commented on #60
That looks cool! Haven't looked into it but will do so and update this issue when it is done. Thanks

[2017-04-26 19:41] josephwb commented on #57
Fixed with 8ce082b

[2017-04-26 19:41] #57 closed

[2017-04-26 19:46] josephwb commented on #35
@jonchang already did this.

[2017-04-26 19:46] #35 closed

[2017-04-26 19:50] josephwb commented on #29
The new version of ape has function which works whether the tree is rescaled (see discussion [here](https://github.com/macroevolution/bammtools/issues/45)). In practice, it is much stricter (i.e. some recognized ultrametric trees fail the test), but this may be a matter of setting the threshold correctly.

Anyway, something to consider, as our current method may fail with very old trees (i.e. stoc

[2017-04-26 21:40] druvus commented on #60
I started to generate a bioconda recipe for phyx but run into some issues. You can find the current PR here:  bioconda/bioconda-recipes#4539
I managed to get it building on the linux image that is used by bioconda but forgot something in the recipe. I will try to come back and fix it later during the week but you might have a better understanding of the error.

[2017-05-12 13:48] stubbsrl opened #61 "problem rerooting tree if first outgroup listed isn't present"
I am rerooting hundreds of gene trees. Most genes have any combination of outgroups. If the first outgroup listed in my command is not present instead of moving to the next outgroup listed it produces an empty file.

[2017-05-12 13:59] stubbsrl commented on #61
Read through the closed issues and if I add a -s then it overwrites this problem. Maybe add this to the wiki?

[2017-05-12 13:59] #61 closed

[2017-05-12 14:11] stubbsrl commented on #17
Is there a way to systematically move through the outgroups if the first is absent in one tree to try the second, then the third, etc.?

[2017-05-12 15:22] josephwb commented on #61
Yes, this is a newer option. I'll update the wiki.

[2017-05-12 15:26] josephwb commented on #17
We've talked about this as an option. A hack option is to loop over your outgroups in _reverse_ order of preference, rooting on one each time. The final rooting would be on the most preferred outgroup that is present in a given tree.

Obviously this is quite hacky! :bowtie:  We'll go ahead and implement the option of an ordered list of outgroups. But then comes the question: if _all_ outgroups are

[2017-05-15 14:48] stubbsrl commented on #17
I am trying to root the gene trees for use in PhyParts. Therefore, in this instance I don't really care about the outgroup relationships I just need them to be outgroups (it would be nice if the trees were rooted correctly but it is not really important for me to look at ingroup discordance). I have been inputting my outgroups with the most distant taxa listed first and the sister clade listed las

[2017-05-15 16:28] josephwb commented on #17
@stubbsrl No hassle. I'll implement it today.

[2017-05-15 16:53] josephwb commented on #17
@stubbsrl it is now implemented with the `-r` option:
[code]

[2017-05-15 16:58] stubbsrl commented on #17
Awesome! Thanks!!!

[2017-05-15 17:20] josephwb commented on #61
Updated in the wiki and manual.

[2017-06-13 18:11] josephwb opened #62 "Don't add zero edge lengths to cladograms"
A little annoying when opening in FigTree and the tree collapses to a line because the "phylogram" has a length of zero.

Not a big deal or rush.

[2017-06-14 16:20] josephwb opened #63 "Check if input and outfile files are the same"
@HeatherKates notes the following problem:
[code]
dies with the error:
[code]
This is because the input and output streams are the same, so the input gets erased preparing for the output.

This is an easy check if both the infile and outfile are provided. I will write a general check that we can start inserting into `main_*.cpp` files. The case with redirections is much harder and will require a m

[2017-06-15 02:24] josephwb commented on #63
This is mostly added for all programs as of f2fbb8a8b40403e5117a3916ee3f075a7518a2bc. For new programs just use:
[code]
If the input file is the same as the specified output file then the following message:
[code]
is printed as the program exits.

[2017-06-21 17:55] #63 closed

[2017-06-22 16:21] HeatherKates opened #64 "Program to rotate nodes (feature request)"
Hello. This function seems like it would fit in with phyx's other functions but I don't know whether it's possible as I believe the closest thing that exists at the moment is the rotateNodes function in the R package phytools which works by internal node number.

I'm looking for a function to reorder nodes in a tree to produce a tree with a specified visual order of tips. It would take as input a

[2017-06-22 16:28] josephwb commented on #64
I agree: sounds like a great idea!

( •_•)

( •_•)>⌐■-■

(⌐■_■)

[2017-07-17 16:52] josephwb opened #65 "pxltr should preserve annotations if present"
`pxltr` works well, but if the input is an annotated Nexus tree, the newick output does not include the annotations.

[2017-08-08 20:55] HeatherKates opened #66 "pxrr -s option error"
Hello,

When I run the pxrr program with the -s option, I get various errors (depends on the run), including:
/apps/phyx/0.99/launch_phyx: line 12: 54412 Segmentation fault      singularity exec ${HPC_SINGULARITY_IMG}/phyx/0.99-xenial.img "$@"
/apps/phyx/0.99/launch_phyx: line 12: 55300 Segmentation fault      singularity exec ${HPC_SINGULARITY_IMG}/phyx/0.99-xenial.img "$@"

I am running phyx on

[2017-08-09 13:44] josephwb commented on #66
Hi @HeatherKates. Sorry for the headache. Could you send a reproducible example?

[2017-08-09 21:06] josephwb opened #67 "Remove knuckles"
Both `pxrmt` and `pxtrt` should prune knuckles (2-degree nodes) by default, I think.

[2017-08-09 21:07] josephwb commented on #67
Or at least have this an an option. Many software packages do not play nicely with knuckles.

[2017-08-09 21:10] josephwb commented on #67
Actually, on closer inspection i believe that `pxrmt` handles knuckles correctly when it prunes, it just does not remove existing knuckles that do not arise from pruning. So, working correct. Question is what the default behaviour of `pxtrt` should be. Maybe just have a separate program that removes knuckles. I suggest `pxdeknuckler`.

[2017-08-10 21:09] josephwb commented on #67
Added a de-knuckler (`pxrmk`) with 3cc20967be2c5b792da31009e7b0b6eb8e86372b. Seems to work. Can think about if we want to add this functionality as an arg to other programs.

[2017-10-04 18:20] uribe-convers opened #68 "de-knuckler (pxrmk) not working"
I'm building a phylogeny using a taxonomic constraint tree, and this tree has knuckles that make RAxML choke.

I tried: `pxrmk -t constraint.tre -o constraint_no_knuckles.tre`

Then: `raxmlHPC-PTHREADS-AVX -T 15 -p 9876 -m GTRCAT -g constraint_no_knuckles.tre -s alignment -n test` and get the following error (same error with the un-knuckled constraint tree):
[code]

If I manually delete the first

[2017-10-04 19:33] josephwb commented on #68
Just a reminder that the issue with adding zero-length edges is a, er, issue (https://github.com/FePhyFoFum/phyx/issues/62).

I wonder if this desired functionality (removing stem edges) should be put into `pxrmk` or a more general `check-tree-is-cool` program?

[2017-11-08 13:19] uribe-convers opened #69 "pxstrec not available"

[2017-11-08 14:12] josephwb commented on #69
Do you mean it is not _built_? It is in the default [make].(https://github.com/FePhyFoFum/phyx/blob/master/src/Makefile.in#L336)

I am trying a fresh clone/compile to check things.

[2017-11-08 14:13] josephwb commented on #69
Do you mean it is not built? It is in the default [make](https://github.com/FePhyFoFum/phyx/blob/master/src/Makefile.in#L336).

I am trying a fresh clone/compile to check things.

[2017-11-08 14:23] josephwb commented on #69
Try a fresh clone/compile.

On mac i use the homebrew C++ compiler by passing this to configure:
[code]
Hopefully we can sort this out!

[2017-11-19 10:07] josephwb opened #70 "pxs2nex not reporting "standard" data"
When writing standard discrete data, `pxs2nex` uses `DATA=DNA` for some reason. Easy fix.

[2017-11-19 11:15] josephwb commented on #70
Fixed with bf2d7b9.

[2017-11-19 11:15] #70 closed

[2017-11-23 07:32] josephwb commented on #34
And write it too? I was thinking about this yesterday.

[2017-11-23 07:34] josephwb commented on #69
Closing this as I believe it is a weird @uribe-convers-specific issue ( -_・)

[2017-11-23 07:34] #69 closed

[2017-11-23 09:58] josephwb commented on #56
I have no interest in doing this. @blackrim if you want to do this, great. Otherwise, close this for now.

[2017-11-23 10:04] josephwb commented on #12
Closing this, as few people will have this (and people who are nerdy enough to have it can probably compile things themselves).

[2017-11-23 10:04] #12 closed

[2017-11-23 10:06] josephwb commented on #49
Thoughts on this? Would it be useful?

[2017-11-23 17:00] ningwang83 commented on #49
Yes, it will definitely help. I talked to Tongjian, the visiting student in
the lab, and he also feel too many programs in there, better to have a
guide. Moreover, he felt the instructions should be better more detailed.
provide more example for each program could be a way to do this I think.

Thanks Joseph! I hope to use phyx more, now I'm using phyx to reroot,
change alignment format, align aa f

[2017-11-23 17:05] josephwb commented on #49
Hmm... I am still not completely convinced :( It would be a _long_ (raxml-ish) help. Not too difficult to set up, but a pain to maintain (we already have individual helps, the manual, and the wiki). Why not just look at the manual? @jfwalker @blackrim?

[2017-11-28 09:57] NatJWalker-Hale opened #71 "Option to have pxaa2cdn remove stop codons"
Perhaps as an option to remove or not remove, to allow, for example, application of codon models in IQ-TREE, and dN/dS analyses in the HYPHY package.

[2017-12-05 09:18] josephwb commented on #68
Hey @uribe-convers. Apologies for letting this slip.

I don't believe the tree _has_ "knuckles" (i.e. 2-degree nodes), but _does_ have, as you say, an extra set of brackets at the outermost level; in other words it has a root edge. I would say that this is non-standardly constructed. Where did the come from?

I'm not sure what to do here... Should "remove root edge if present" be part of this prog

[2017-12-05 09:19] josephwb commented on #67
Works for standard situations. Question https://github.com/FePhyFoFum/phyx/issues/68 with how to deal with root edges, but that is a separate issue.

[2017-12-05 09:19] #67 closed

[2017-12-05 09:20] josephwb commented on #71
I think you can most efficiently deal with this @jfwalker, yes? If not I'll pick it up.

[2017-12-05 09:24] uribe-convers commented on #68
Hey @josephwb, Thanks for letting me know.

The tree came from PyPHLAWD; it's the topological constraint tree that is pat of the output. It's ok, if this is not that common then there is no need to create a new feature in the program.

Thanks for looking into it!

[2017-12-05 09:28] josephwb commented on #68
Got it.

However, if in using PyPHLAWD you are coming across this repeatedly I'd want you to have something convenient to deal with it. I thought you might just be able to "unroot" it but that makes phyx die a fiery death:
[code]
Yikes!

I'll either add the option to `pxrmk` or write a separate "root annihilator".

[2017-12-05 11:06] josephwb commented on #62
Ok this seems on the surface to be extremely easy to do: `getNewick` has a boolean option on whether edge lengths should be included (which are set to 0 if they are not present).

So: how best to deal with this? There is a function `has_branchlengths` in `tree_utils` that can test this, and the result of this can be passed to `getNewick`. Seems wasteful tho. I think I will look at doing this upstr

[2017-12-05 11:10] sprocha opened #72 "vcf2fasta - new options?"
suggestion: would be very useful to have a tool that can take eg. single-individual vcf's (or variable-number of individuals ones) and provide consensus fasta (using ambiguities) or 2 seqs per individual fasta (but with randomised alleles in each chromosome)

[2017-12-05 11:36] josephwb commented on #62
Ok I store during reading in whether edge lengths are present. Making a generic print function that will take advantage of this.

[2017-12-05 11:41] josephwb commented on #62
Added a clunky way to do this in `pxrmk`. Think a wrapper function would save on a lot of typing.

[2017-12-05 12:52] uribe-convers commented on #62
cool, thanks @josephwb!

[2017-12-05 12:57] uribe-convers commented on #72
Hey @sprocha,

I have such a script! It will take a VCF file with biallelic data exported using VCF-to-Tab and return a file where the biallelic data has been combined into a single nucleotide using IUPAC ambiguity codes.  The code can be found [here](https://github.com/uribe-convers/Vitis_Phylogenomics/blob/master/src/VCF-to-Tab_to_Fasta_IUPAC_Converter.py)

Maybe @josephwb can add it to `phyx` i

[2017-12-05 13:25] josephwb commented on #72
That would be a great headstart! I had never heard of vcf before writing the existing function...

[2017-12-05 14:05] sprocha commented on #72
great! thanks for sharing!

On Tue, Dec 5, 2017 at 1:57 PM Simon Uribe-Convers <notifications@github.com>
wrote:

--
Sara Rocha
Post-Doc Researcher
Phylogenomics Group University of Vigo (Spain)
*http://darwin.uvigo.es/sara-rocha/ <http://darwin.uvigo.es/sara-rocha/>*

[2017-12-05 14:19] sprocha commented on #72
just realised this one also takes no "reference", i.e., will generate a
fasta also ONLY of the variable (called) positions, right? for phylogenetic
inference, one is mostly interested in the full sequences, i.e, "replacing"
the variant positions in the proper place for each individual (either using
ambiguities or - even better - generating two sequences per individual; in
the case of diploid organ

[2017-12-05 15:11] jfwalker commented on #71
Sorry about the delay on this, I pick it up no problem, it will just have to be when I get back from overseas in a couple weeks

[2017-12-05 15:12] josephwb commented on #62
In `tree_utils` there is now a wrapper function `getNewickString` which detects stored boolean property `edgeLengths`. Edge lengths are written is present, otherwise a cladogram is born.

[2017-12-05 15:12] #62 closed

[2017-12-05 15:14] josephwb commented on #71
No problem ( -_・)

[2017-12-05 15:17] uribe-convers commented on #72
@sprocha, yes, this script will generate ambiguity codes only for the variant sites, which are (I think) the only sites you have in a VCF file exported with VCF-to-Tab. If you have the complete sequences in a fasta file, you can use the same script to replace the biallelic sites for an ambiguous nucleotide—the script doesn't care if the sites are SNPs or song lyrics, it's just searching and replac

[2017-12-05 15:22] josephwb commented on #65
Rethinking this one. Are Nexus annotations newick-compliant? Don't think so. Forget how this got brought up.

(If someone remembers, let me know! :bowtie:)

[2017-12-05 15:23] josephwb opened #73 "general tree cleaner"
Things to purge:

1. node annotations
2. 'knuckles'
3. root edge

Either do all (default) or one (multiple?) property.

[2017-12-05 15:24] josephwb commented on #73
I should have said that I've got this going.

[2017-12-05 15:25] josephwb commented on #68
New issue https://github.com/FePhyFoFum/phyx/issues/73 should cover this.

[2017-12-11 16:22] josephwb commented on #68
@uribe-convers new program `pxcltr` will get rid of superfluous root edges.

[2017-12-11 16:22] josephwb commented on #73
`pxcltr` available as of ce1781197d8c449d6dfbb02f2dcac547b1030e5c.

[2017-12-11 16:30] josephwb commented on #68
I am going to close this bc I believe the de-knuckler is working correctly.

[2017-12-11 16:30] #68 closed

[2017-12-16 03:21] blackrim commented on #66
I am happy to tackle this. @HeatherKates do you have an example?

[2017-12-16 03:22] blackrim commented on #65
@josephwb do you have an example with this? I can help tackle this but not exactly sure I understand it.

[2017-12-16 03:57] blackrim commented on #55
The issue is whether we can assume that the last character is a `;`. If we can, then I can easily do this. If not, then I think it is a bit harder. What do you think @josephwb

[2017-12-16 03:58] blackrim commented on #37
OK, I am going to go for this.

[2017-12-16 10:53] josephwb commented on #55
I guess that would be how to do it. Personally I have never encountered a tree with an internal line break. But are trees even written without a `;`? Sounds safe.

[2017-12-16 11:05] josephwb commented on #65
This so old I forget! Also, must be `pxrlt`?

But I _think_ the situation was this: you have, say, a BEAST tree with ugly labels. You use `pxrlt` to clean them up, but because a newick comes out all of your fancy Nexus node annotations (probabilities, rates, whatever) are lost, so when you open your tree in FigTree you cannot make it pretty.

But I guess this would be a an issue for most programs.

[2017-12-16 11:23] josephwb opened #74 "Look into pxrmt speed"
The new R package [castor](https://academic.oup.com/bioinformatics/advance-article-abstract/doi/10.1093/bioinformatics/btx701/4582279) makes some phyx comparisons.

Apparently for a tree of 500,000 tips, removing half the tips takes over 3 hours (at which point the author just cancelled the process).

`pxtrt` probably does this well. I've never tried it. But if the number of tips to prune is large

[2018-01-13 17:29] josephwb opened #75 "Better uninstall?"
This one has had me worried for a bit. Our current uninstall is:

[code]

This works fine. _However_, what if there is another program/file in that directory that begins with "px"? Uninstalling phyx could break other things (which could be difficult to diagnose. I haven't run into this, but it seems like an eventuality).

The solution, I guess, is to store the names of all phyx programs so they ca

[2018-01-16 21:11] stubbsrl opened #76 "Error in pxrmt"
I'm getting strange errors with pxrmt. I am using the command on files I have (successfully) used with pxrmt before.

The general command I'm using is:
for x in bipartition_trees/R*; do pxrmt -t $x -n taxon1,taxon2,taxon3 -o $x.prune; done

I've attached the error file.

Anyone else having trouble with this or is it just me? Thoughts on what's going on?

Thanks,
Rebecca

[2018-01-16 21:23] josephwb commented on #76
@stubbsrl the error file is not attached.

[2018-01-16 21:25] stubbsrl commented on #76
Right... Here ya go :)

[phyx.pxrmt.15974891.err.txt](https://github.com/FePhyFoFum/phyx/files/1636890/phyx.pxrmt.15974891.err.txt)

[2018-01-16 21:26] josephwb commented on #76
Yikes! Does it fail right away? If so, can you share a few of the files so we can recreate?

BTW did you reinstall since it had been working correctly?

[2018-01-16 21:40] stubbsrl commented on #76
When run on the command line it starts spitting out errors right away but then it gets hung up on that last error and never officially fails.

Yes, the program has been reinstalled a few times since it was working correctly. Fun fact: when I run pxrmt on my computer (vs the HPC) I get different but similar errors. Mostly pertaining to segmentation faults (so I wondered if it was a memory problem a

[2018-01-16 21:59] josephwb commented on #76
Ok, thanks. I can reproduce it with tree 'RAxML_bipartitions.g005super_rmsn.stripped'. It _seems_ to produce a (correct?) tree but then segfaults. Interestingly it does not segfault if the last tip to prune is removed, although it definitely _is_ in the tree as determined by:

`pxlstr -t RAxML_bipartitions.g005super_rmsn.stripped -i`.

I will look at this tomorrow. Sorry for the troubles!

[2018-01-16 22:04] josephwb commented on #76
That is, it seems to produce a (correct?) tree on mac. Linux produces nothing but an error.

Hopefully this will not be too difficult.

[2018-01-16 22:16] stubbsrl commented on #76
Well not really (re: correct trees on mac). Of the five I sent you two end up as empty files. The other three aren't able to be open up in figtree because when I look at the file in a text editor there's some nonsense at the beginning of the file. Once I delete the nonsense the tree opens fine.

On the HPC a similar things happens. Some files are empty. Some are created but have a nonsense string

[2018-01-17 10:38] josephwb commented on #76
@stubbsrl could you please resend the example files? The computer I was working on died :(

[2018-01-17 11:59] josephwb commented on #76
@stubbsrl oof never mind i got it from email. :bowtie:

[2018-01-19 12:13] josephwb commented on #76
@stubbsrl sorry for the delay. can you pull and try again?

[2018-01-19 13:36] josephwb commented on #75
This also involves install as well. I had a folder `pxrmt_trouble` and it messed up standard installation (it tried to copy the folder).

[2018-01-19 15:07] stubbsrl commented on #76
Hey Joseph - No problem. Really, thanks for all your help.

I did git pull. There were " 3 files changed, 18 insertions(+), 8 deletions(-)"

But, unfortunately, same results. Did you get this to work normally on either files? Is there a chance it is something wrong with my trees?

[2018-01-19 15:17] josephwb commented on #76
Did you do `sudo make install`? If not, it will still be the earlier version. I have only been testing using the first tree. I will try with others.

[2018-01-19 15:22] stubbsrl commented on #76
I navigated into the src folder and sudo make install there. Is that correct? If so, same problems occurred.

[2018-01-19 15:26] josephwb commented on #76
I am in a meeting at the moment, but will investigate soon.

Can you try (in `src`):

[code]

[2018-01-19 16:31] stubbsrl commented on #76
Oh snap! It worked perfectly!!

I believe you fixed it! I'm going to have them update Phyx on the HPC too.

Thank you!

[2018-01-19 16:32] josephwb commented on #76
w00t! So glad it worked.

[2018-01-19 18:01] #76 closed

[2018-02-28 16:25] josephwb opened #77 "Complement functionality for pxrm*"
Simple complement: prune out any taxa _not_ in the list passed in.

Regards `pxrmt` and `pxrms`.

[2018-02-28 16:47] josephwb commented on #77
This looks like it will be easy, but it requires the entire tree/alignment file to be read in first (negating the whole pipe advantage).

Is there a better way? I can envisage a name-checker function that returns matches (or complements) which can then be fed to `pxrms/t`.

[2018-02-28 17:18] josephwb commented on #77
`pxrms` updated as of c790cedfc088de3d2e40ccfe7615b3be145d900e

[2018-02-28 18:54] josephwb commented on #77
`pxrmt` updated with 0780b650f36834fa2cbe5dadbed4805a5073ba8d

[2018-02-28 18:54] josephwb commented on #77
All that is left here is adding to the 1) wiki and 2) manual.

[2018-02-28 18:57] josephwb opened #78 "Thorough doc check"
For the release, make sure:

1) helps
2) wiki
3) manual

are all up to date.

[2018-02-28 19:18] josephwb commented on #77
:boom: 8e2a77ca5d28f7b82f98c93ccee1594ac0722412

[2018-02-28 19:18] #77 closed

[2018-03-27 21:36] josephwb opened #79 "pxlssq return amount missing"
Add '% missing' as one of the individual properties that can be returned by `pxlssq`. Useful for filtering genes.

[2018-03-27 22:21] josephwb commented on #79
Should be good with 898d758c580de8974e104f560a2bbe330fa824ca.

do `pxlssq -m -s SEQFILE`

Only does full alignment. Probably sufficient? Individual-based queries probably want full character suite frequencies.

[2018-03-27 22:21] #79 closed

[2018-03-28 08:19] josephwb commented on #73
Not sure why I haven't closed this. Testing probably. (•ิ_•ิ)?

[2018-03-28 08:34] josephwb commented on #52
Possible option: if tree is ultrametric (i.e., a chronogram) deal with edge lengths to preserve ultrametricity.

![ultra](https://user-images.githubusercontent.com/808499/38017781-f7e7a530-326a-11e8-9017-802aab65ae40.jpg)
(Whenever I read "ultrametricity" (am I the only one who uses this word?) I automatically hear Will Ferrell's voice)

[2018-04-03 12:59] josephwb opened #80 "Nexus tree file reader dies with empty internal lines"
e.g.
[code]

[2018-04-03 13:06] josephwb commented on #80
Fixed translation example above with 1e58dd0abb085b5bb37edf881c23de7c6aa1df33.

Still have a problem if there is a space between the last tree and `End`:
[code]

[2018-04-03 13:39] josephwb commented on #80
And 2d4c4f2260fb642026c2c8510c343c3429cc49c0 takes care of other internal 'empty' lines (may have spaces/tabs but no data).

Might be worth it to check out newick reader. But do we _really_ want to support this stuff?

[2018-04-03 13:39] #80 closed

[2018-04-13 12:36] josephwb commented on #73
Hmm works afaik.

[2018-04-13 12:41] josephwb commented on #72
Hey @sprocha. Sorry this has not been addressed. Hopefully you've been able to accomplish this in some other way.

Do you happen to have:
1. example input
2. expected output

That would help on our end. ( -_・)

[2018-04-13 13:53] josephwb commented on #52
Hmm this is a bit trickier than at first sight. Specifically: there are 1) a tons of formats (e.g. annotated Nexus files like from FigTree vs. plain newick), and 2) support ranges (percentage vs. proportion).

For first stab, will expect simple proportion node labels: `)0.4`

[2018-04-13 14:35] josephwb commented on #73
Hmm not recognizing internal node labels.

[2018-04-15 19:33] josephwb commented on #52
Good start with 507ba5655ddbf3121432c0a616aa6dc93c53612e. Currently works with newicks with support as floats (`TEST/collapse.tre`). Handling integer support values should be straightforward. Parsing Nexus node annotations will be next.

[2018-04-16 16:37] jfwalker commented on #71
Should be good if you want to check @NatJWalker-Hale

[2018-04-17 14:42] josephwb commented on #52
91f68445422bd0624cddc9b0bab7866e1e727480 handles trees with either proportions or percentages for support values (guesses the scale by the first one encountered). Part of this involved the decision to force the threshold passed in to be a proportion. If the tree itself has percentages, this should be detected. The point of this 'guessing' is to allow a default threshold of 0.5 support (which may b

[2018-04-23 10:46] sprocha commented on #72
Hi!
I managed what I needed, yes. Thanks.
The vcf to consensus fasta (IUPAC) I did using the "bcftools consensus" option here:
https://samtools.github.io/bcftools/bcftools.html

The "2 seqs per individual fasta (but with randomised alleles in each chromosome)" would still be awesome to have (we still did not write the code for that). The thing to take into account to use it in phylogenetic inferen

[2018-04-27 19:40] blackrim opened #81 "pxrmk"
Getting a seg fault on this tree.
[t.tre.gz](https://github.com/FePhyFoFum/phyx/files/1956443/t.tre.gz)

[2018-04-27 20:06] blackrim commented on #81
OK, the problem is the non newick stuff but we should fail more gracefully

[2018-04-27 20:06] blackrim commented on #81
OK, it is the non-newick stuff but we need to fail more gracefully

[2018-05-14 18:21] Cactusolo opened #82 "Is this normal behavior for "pxcltr""
Hi,

I was told that "pxcltr" is meant to remove 'knuckles' (i.e. 2-degree nodes), node annotations, etc, to keep a plain format.

However, I used cmd like:
`pxcltr -l -t Coweeta_ottid_nw_rename.tre`
and
`pxcltr -t Coweeta_ottid_nw_rename.tre`

But the results are the same, still keeping some internal labels, eg:

**...**

 ||     ++ **mrcaott784ott8526**
 ||     ||  +---------------------------+

[2018-05-14 18:26] josephwb commented on #82
Sorry but that is unreadable! Do you have the newicks for both input and output?

[2018-05-14 18:30] Cactusolo commented on #82
Yes, here is the input file:

[2018-05-14 20:12] josephwb commented on #82
As far as I can see all knuckles are removed.
[code]
As for the node names: phyx treats names and annotations differently. I may not have implemented this fully. Should be a quick fix.

[2018-05-14 20:15] Cactusolo commented on #82
Ok, thanks Joseph!

Looking forward to new update then :)

Miao

[2018-05-14 20:17] josephwb commented on #82
Yup this was a loose end https://github.com/FePhyFoFum/phyx/issues/73#issuecomment-381170370. Will fix it this evening. Sorry about the trouble.

[2018-05-14 20:50] josephwb commented on #82
Actually I will get to this tomorrow.

[2018-05-14 20:52] Cactusolo commented on #82
Take your time buddy!

No rush ;)

Miao

[2018-05-14 21:15] josephwb commented on #82
Oof. Should be working with this 940b92702fd0d04036dbb27ff0ef8619df3d76c6.

[2018-05-15 16:15] josephwb commented on #82
@Cactusolo please close if this works for you.

[2018-05-15 17:14] Cactusolo commented on #82
Hi,

SoI need to update phyx package on my side from github, and then run again,
right?

Thanks!

Miao

2018-05-15 12:15 GMT-04:00 Joseph W. Brown <notifications@github.com>:

--
Dr. Miao Sun
Tel: 352 (284) 0928                 Email: cactus@ufl.edu
Solti Lab, Florida Museum of Natural History, University of Florida
Dickinson Hall, 1659 Museum Rd, PO. Box 117800, Gainesville, FL 32611-7800,
USA.

[2018-05-15 17:28] Cactusolo commented on #82
Hi,

I just realized that I have to request for update phyx on our HPC.

I'll report to you soon,

Miao

2018-05-15 13:14 GMT-04:00 Miao Sun <notifications@github.com>:

--
Dr. Miao Sun
Tel: 352 (284) 0928                 Email: cactus@ufl.edu
Solti Lab, Florida Museum of Natural History, University of Florida
Dickinson Hall, 1659 Museum Rd, PO. Box 117800, Gainesville, FL 32611-7800,
USA.

[2018-05-15 18:08] josephwb commented on #82
Got it. Although most phyx programs are so lightweight and only run on a single core that I don't see any advantage in putting it on a cluster. But cool that you are!

[2018-05-15 18:35] Cactusolo commented on #82
Thanks man! It works perfectly! 💯 👍

PS, I did most of my work remotely. Though I have home-brewed phyx on my mac,  which conveniently not with me today :)

[2018-05-16 15:02] Cactusolo commented on #82
@josephwb you can close this issue now, thanks for all the help!

[2018-05-16 15:02] #82 closed

[2018-05-20 18:02] blackrim commented on #75
Can we please just put the list of programs that are present? @josephwb or @blackrim can do it.

[2018-05-20 18:28] josephwb commented on #75
Will think this over. These are stored in `all` in the Makefile. Can this be used? Probably.

[2018-05-22 14:51] NatJWalker-Hale opened #85 "pxrlt issues with non-matching errors"
This may be related to the previous issue. When using pxrlt on IQ-TREE newicks with support values, it recognises support values as labels which are not in the taxon name files, and does not change the name, merely prints the original tree with original names.

[2018-05-22 16:19] NatJWalker-Hale commented on #85
[current_names.txt](https://github.com/FePhyFoFum/phyx/files/2027543/current_names.txt)
[new_names.txt](https://github.com/FePhyFoFum/phyx/files/2027544/new_names.txt)

[cary_adh_canonical_1_cln.treefile.txt](https://github.com/FePhyFoFum/phyx/files/2027549/cary_adh_canonical_1_cln.treefile.txt)

here are the name files and the newick, but actually now I have just tried to reproduce after getting

[2018-05-22 19:48] josephwb commented on #85
Ok this is because the support values are stored as names (and not annotations).

This is annoying behaviour. I turned off the warnings for the internal labels (with 98a115c69e5611c7c0c730619271aa66274151b6). Frankly, we (I) shouldn't necessarily be expecting for _all_ labels to require changes (e.g., if we know only certain ones are funky).

Thanks for pointing this out. I will fix it once I figu

[2018-05-22 20:40] NatJWalker-Hale commented on #85
No problems, thanks for taking a look at it!

[2018-05-23 13:31] erikkoenen opened #86 "pxbp aborting"
Hi
I'm trying to run pxbp over a large number of gene trees to extract bipartitions. I'm looping through the gene trees so every time pxbp is called to run on just a single tree. I'm using the -e option for unrooted trees. For several gene trees, the program doesn't print a list of bipartitions but instead I'm receiving either one of the following two error messages:

or

In some cases, this only

[2018-05-25 07:02] josephwb commented on #85
Hey everyone. What do you think the policy on reporting 'bad' names should be? It is complicated if [trees are not complete](https://github.com/FePhyFoFum/phyx/commit/b6e140d8c3cf173fb29863525086bbd2ac5e68be). Should we just _not_ report bad names? Was trying to be helpful to user. But *nix approach would seem to be 'you are supposed to know what you are doing' and so would not report on a propose

[2018-05-27 09:31] josephwb commented on #85
Should be done with 9abfb52b701af0e0b2008da618d97c91adea7d92. Only reports non-matching original names passed in, and only if verbose is turned on. Should do same with `pxrls`.

[2018-05-27 09:31] #85 closed

[2018-05-27 10:01] josephwb opened #87 "Add error checking to pxrls"
Similar to what is done with `pxrlt`.

[2018-05-27 10:37] josephwb commented on #87
This should do it: 740e88d055202921f2e1de21eb803061e2842a64

[2018-05-27 10:37] #87 closed

[2018-05-27 10:54] josephwb opened #88 "pxcontrates failing test"
Seems like tree 1 is printed with values for character 1, tree 2 with values from characters 1 & 2, and tree three with values from all 3 characters. Test expected output is a single value per node. Seems like neither output is correct?

Apologies if I broke this (I seem to be the last to edit), but I cannot figure out what the issue is.

[2018-05-28 07:43] josephwb commented on #86
Can you provide an example input that produces these errors?

[2018-05-28 07:47] josephwb commented on #81
I cannot remember what the issue is with this tree. But other programs (e.g. `pxlstr`) cannot read it either.

[2018-05-28 07:49] josephwb commented on #81
Oh yeah, spaces in taxon names was one problem. But not the only one (I think).

[2018-05-28 07:54] josephwb commented on #81
Right. Not just spaces. I think there were weird (illegal) characters in names (commas or brackets or whatever).

[2018-05-28 13:51] blackrim commented on #86
I believe this was just fixed with this commit https://github.com/FePhyFoFum/phyx/commit/a0b974101b59d08eec73ab30c8da7972fab157d0 so you should be able to pull and recompile pxbp and be good.

[2018-05-28 13:51] #86 closed

[2018-05-28 13:52] blackrim commented on #86
I should have added that that commit was only a couple days ago as someone else also pointed out the issue to me

[2018-05-28 13:59] blackrim commented on #81
yeah, i am wondering if we can fail more gracefully instead of a segfault. do you know in the line where it is failing? don't have to spit out the diagnosis because that will likley be too hard, but should be able to say that there is a problem with one of the characters

[2018-05-28 14:09] josephwb commented on #81
Yup. Right [here](https://github.com/FePhyFoFum/phyx/blob/master/src/tree_reader.cpp#L164-L167).

[2018-05-28 15:32] blackrim commented on #81
It actually isn't failing on those spaces as far as I can tell. Definitely more complex. It catches it now though so that is what this issue was. There is an issue with this newick that i can't track. It won't read in figtree either (but the spaces are fine actually) 06a1a93

[2018-05-28 15:32] #81 closed

[2018-05-28 15:32] blackrim commented on #88
OK, I guess I will track where the output changed because obviously it use to pass.

[2018-05-30 19:31] nickloman commented on #60
I'd also be keen to see this building on Conda.

[2018-05-30 19:45] blackrim commented on #60
Cool. I will resurrect this starting with the PR

[2018-05-31 11:27] druvus commented on #60
@blackrim I have a working recipe for phyx locally but it needs a rebuild of nlopt using cxx. I opened PR at  conda-forge/nlopt-feedstock#12. You are probably more familiar with nlopt to comment issues raised by @jschueller that is maintainer of the nlopt recipe.

[2018-05-31 11:47] jschueller commented on #60
You dont need to enable cxx. For nlopt what it really does is enable the algorithm that is written in c++, but the api of nlopt remains C. The C++ interface for nlopt exists but is header-only and is not related to the with-cxx option. What you just have to do is tell phyx to link to nlopt instead of nlopt_cxx, here is the relevant phyx configure.ac line:
[code]
This phyx nlopt detection has to be

[2018-05-31 13:49] blackrim commented on #60
Thanks @jschueller and @druvus we will have a look at this and hopefully deal with it in the next day or two.

[2018-05-31 17:15] jfwalker commented on #60
Thanks @jschueller and @druvus ! I tried taking a look, is the edit needed as trivial as changing the line to:
[code]
or is there more that needs to be done? Sorry I don't have muct familiarity with conda. Thanks!

[2018-06-01 12:26] josephwb commented on #75
Kablammo :boom:

[2018-06-01 12:26] #75 closed

[2018-06-01 14:34] blackrim commented on #60
@jfwalker thanks but I think I have a better general solution. Pushing in one sec

[2018-06-01 14:47] blackrim commented on #60
OK, I believe this has remedied teh situation. No more nlopt_cxx in linking or configure 6372057277df00c34bc2d6d71ffb29402a70256b
@druvus and @jschueller

[2018-06-01 20:57] druvus commented on #60
@blackrim I have an open PR to build phyx that pass the tests: bioconda/bioconda-recipes#9119

I am currently using the latest commit but would it be possible to get a new tagged release that I could refer to?

[2018-06-01 21:06] josephwb commented on #60
We are planning on a minor release update early next week.

[2018-06-04 15:52] blackrim commented on #88
fixed the output. also fixed the test so that it should be more consistent
f7f3e98

[2018-06-04 15:52] #88 closed

[2018-06-04 15:53] blackrim commented on #74
Do we have a dataset for testing this? if so, we can do `pxtrt`

[2018-06-08 21:17] flopezo opened #90 "Using pxclsq to trim codon alignments"
Hello,

I was wondering if maybe there is a way to use `pxclsq` to remove codons instead of single sites; something similar to what this [script](https://bitbucket.org/yangya/caryophyllales_mbe_2015/raw/93879b4bcb4b9b8600faecc103f062155205812b/habit_contrast_codon_trimmer.py) does.

Thank you.

[2018-06-08 21:36] josephwb commented on #90
Definitely!

[2018-06-11 10:15] josephwb commented on #39
@blackrim do you have an example for this?

[2018-09-01 10:43] josephwb opened #91 "Preserve BEAST-style annotations"
Brought up by @mmatschiner. BEAST-style annotations are not preserved when editing the tree (e.g., `pxrmt`).

Example tree:
tree TREE1 = ((1[&dmv={0.1}],2[&dmv={0.2}]),3[&dmv={0.3}])[&dmv={0.1}]:0.0;

More standard node labels like `)something` are preserved.

So this has to do with differently treating things like `)something` as a 'name' while `)[something]` is a 'comment' (mentioned [here](http

[2018-10-16 23:41] gaballench opened #92 "Question on tests"
Hi,

I just compiled `phyx` under ubuntu. When running `python run_tests.py` I got some tests failing. The end of the output is:

[code]

After inspecting the whole output I spotted the specific tests that failed:

[code]

All of them seem to fail because of sensitivity to rounding errors, so I was wondering if such tests represented an issue or whether I could safely ignore them and assume that t

[2018-10-17 04:01] josephwb commented on #92
Thanks. This is a known issue: the precision of the edge lengths returned has changed. We need ony to update the expected test results. Nothing to worry about on your end!

[2018-10-17 04:01] #92 closed

[2018-11-30 02:26] sumoumouElin opened #93 "Pxrr couln't be complied correctly"
I have installed Phyx successfully following the steps,but I didn't find 'pxrr' in this package after compiling. (Linux install)

When I was in the path of 'phyx/src', I used './configure' and 'make' respectively. However, I found that only some of softwares (pxclsq,pxcat,pxs2phy,pxs2nex and so on) could be compiled correctly and ran successfully, but 'pxrr' failed to be complied. Or, in other wor

[2018-11-30 07:53] josephwb commented on #93
I don't understand what could have gone wrong. `pxrr` is in the list of default make targets. I just did a fresh clone/compile and things went as expected.

Did compilation obviously fail and stop. It could be a dependency, and compilation stopped before getting to `pxrr`.

How about this? What happens if you do:

``make pxrr``

[2018-11-30 08:02] sumoumouElin commented on #93
Thank your for your help! pxrr can be complied correctly now.

[2018-11-30 08:38] josephwb commented on #93
Great! I'd still like to de able to diagnose the problem if possible. Any ideas?

[2018-12-11 16:55] HeatherKates commented on #66
Hello again, I'm sorry for not responding to your replies, I had a baby the next day and then here we are a year later. I don't recall how or if I resolved the issue above as it applied to that project, but I had the same error today and traced it back to using a set of outgroups that were non monophyletic. In this case I was not using the -s option because I am trying to reroot a single tree by t

[2018-12-11 16:58] HeatherKates opened #94 "pxrr using root crown taxa"
Hello, I'm trying to reroot a single tree by the root of a subclade. To do this, I tried specifying two outgroups that are root crown taxa for that clade. This did not work. Is there an option to do this? I don't want change the clade membership in the tree.

[2018-12-11 17:04] #94 closed

[2018-12-11 17:47] josephwb commented on #94
Didjya figure this out @HeatherKates?

[2018-12-11 17:50] josephwb commented on #93
@sumoumouElin Do you know which programs got compiled initially? It could help figure out what went wrong (e.g., if it stopped on a certain program).

[2018-12-11 17:52] josephwb commented on #66
Congrats on the baby @HeatherKates!

Can you post an example input and expected output (output can be verbal)?

[2018-12-11 18:00] HeatherKates commented on #94
For my purposes I did - the taxa were not root crown taxa for the clade I wanted to reroot with and I think I may have been asking for an impossible re-rooting. Though I would have expected the result to just be an unchanged tree instead of an error.

If you do want to look at it, input file is attached and command is:
pxrr -t Supermatrix_2-22_constraint_50perc_tips_dropped.renamed.tree -g Astraga

[2018-12-11 18:19] josephwb commented on #94
Hi @HeatherKates. I ran the commands and the tree appears to be rooted as requested. Although, since the 2 taxa are so disparately related, it is rooted on their MRCA, and it is sister to another large clade. I do not get any error. I just ran:
[code]
What error did you get? It is possible that we may have updated things since your last pull?

[2018-12-11 18:42] HeatherKates commented on #94
The error is: /apps/phyx/0.99/launch_phyx: line 12:   614 Segmentation fault      (core dumped) singularity exec ${HPC_SINGULARITY_IMG}/phyx/0.99-xenial.img "$@"

It's very possible there's been an update, I'm running on a computing cluster and I think they just update when we request (and I haven't requested, not sure there are other users at the moment). I can't be 100% sure the input tree I sen

[2018-12-11 19:02] josephwb commented on #94
"Singularity" is a pretty cool error.
Ok. The input file _did_ have a slightly different name, so that could be it. The current release is v0.999, so that could be it (too?). I hope we can figure things out.

[2019-01-24 05:11] JimStarrett opened #95 "pxrr root with group as second preference"
Hello

Just curious if there is a way to root trees with a group of individuals as a second preference, as opposed to listing the individuals in the group.

For example, if I had trees with taxa A-Z (with different missing taxa in different trees) and I preferred to root with A, but if A is missing in a tree then root with individuals B-E as a monophyletic group, what would be the command?

I have

[2019-01-24 08:03] josephwb commented on #95
Hmm. I _think_ the way to do it would be with 2 passes: 1) root on `-g B,C,D,E`, and 2) root on `-g A`. In the second pass, if A is not present, the tree from the first pass would be returned unaltered.

[2019-01-27 23:42] JimStarrett commented on #95
I tried this, and other things, but didn't seem to get the correct rooting. In fact, in many trees that had taxa A present, the rooting occurred elsewhere, at least when visualized with FigTree. The trees are in newick format, so I'm not sure why it is not recognizing taxa A.

[2019-01-27 23:55] josephwb commented on #95
Sorry for the headaches.

Could you please post such an example tree along with the `phyx` commands you are using? We'll get this sorted out.

[2019-01-28 00:48] JimStarrett commented on #95
No worries. I copied my command and an example of a good result followed by a bad result from rr_besttrees4.tre and the respective unrooted trees that they originated from in besttrees.tre.

pxrr -t besttrees.tre -g MY4366 -s -r MY4366,MY1173,MY1172,AR51,AR50,MY4258,AR92,AR93 -o rr_besttrees4.tre

From besttrees.tre
((AR84:0.00000100000050002909,(MY4226:0.00000100000050002909,(AR85:0.0000010000005

[2019-01-28 01:00] JimStarrett commented on #95
One other peculiar thing I noticed is that when I rooted a tree that had previously been rooted it returned only the trees (~800/3000) that included the individual I rooted with the second time (in my case MY4366). But that got me thinking that it would be nice if there was a command that could separate trees in a file to two files, one with trees that include an individual, and another file that

[2019-01-28 10:12] josephwb commented on #95
Okay, a couple of things. Outgroups should be given with `-g`. The `-r` command is simply a boolean to turn on ranking of those taxa specified with `-g`. Since `-r` does not take a value this _should_ throw some type of error. I will look into this. But as it stands, it will not work the way you hope with the command above. Sorry about this. I will update the help.

As for the error (only the tree

[2019-01-28 10:26] josephwb opened #96 "Error should be thrown when value provided to an arg which does not take a value"
Arises from #95. With the example command:
[code]
the option `-r` does not take a value. However, no error is thrown when a value is provided, so the user has no idea that things are incorrectly specified.

We obviously have error checking for _missing_ args, but nothing for _extra_ args. Unrecognized options that are preceded with a `-` are identified, but not so with "extra" args. Seems like thi

[2019-01-28 10:33] josephwb commented on #95
@JimStarrett can you retry things with the `-r` args moved to `-g` and making sure `-s` is present? So:
[code]
No need to pull/recompile as I have not made any edits yet (other than to the help).

[2019-01-28 22:52] JimStarrett commented on #95
Sorry about misinterpreting the -r flag. I'm still hitting a small snag on the two-step rooting though.

As expected, when I use the following command I get trees consistently rooted with MY4366, and if MY4366 is not present then rooted by one or more of the remaining taxa:

pxrr -t besttrees.tre -g MY4366,MY1173,MY1172,AR51,AR50,MY4258,AR92,AR93 -s -r -o rr_besttrees5.tre

However, if MY4366 is n

[2019-01-29 06:23] JimStarrett opened #97 "pxrms outputting copy of original"
Hello again

I am running pxrms but the outfile I am getting is an exact copy of the infile. So, no individuals are being pruned out. I would actually like to get the complement, but when I run it with the -c flag it returns an empty file. Not sure what is going on, but here is my command and an example of my name list. I also tried with the comma separated list but no success.

pxrms -f name.txt

[2019-01-29 07:54] josephwb commented on #97
Is it possible that you have Windows (or "classic mac") line endings? That could account for things. Because it works with the following.

"test.fa":
[code]
"names.txt":
[code]
Now, run:
[code]

[2019-01-29 07:55] josephwb commented on #97
And when I run it with `-c` I get:
[code]
Maybe copy-paste these examples and make sure they work for you?

[2019-01-29 09:19] JimStarrett commented on #97
Yep, that sort of seems to have been the issue. I was able to replicate your example. My name.txt file did have Unix line endings, but when I changed the file type of my name.txt to Text File in TextWrangler it worked properly. Thanks for your help!

[2019-01-29 09:19] #97 closed

[2019-01-29 09:44] josephwb commented on #95
Ok this _sounds_ like it might be the line-endings issue? What if you extract the second tree and try to root that with MY4366? But that doesn't really make sense if the input to the second round was _produced_ by `phyx` (i.e., they should be unix line endings)...

Perhaps you can send me the original file directly (phylo.jwb AT gmail). Or just the first 10 trees or so.

[2019-01-29 09:55] JimStarrett commented on #97
Thank you for those conversion commands! I'll take a look at my tree files to see if that is the issue for #95 .

Now that I have the pxrms command working for one file I am trying to implement this in a shell script with a loop so I can do this for about 500 alignments. Do you have any suggestions for a 'for loop'?

For example I have
align_1.fasta
align_2.fasta
align_3.fasta
etc.

and want
align

[2019-01-29 10:20] josephwb commented on #97
If you want to process all of the fasta files in a directory (i.e. remove the same set of taxa from all) you can do:
[code]
This will generate files of the name `align_*.fasta_reduced.fa`. There are cleverer ways to get the exact output name you specify above, but I would have to think about it.

[2019-01-29 10:32] josephwb commented on #97
Ok, you can do this:
[code]

[2019-01-29 13:07] #93 closed

[2019-01-29 16:07] josephwb commented on #95
I believe this is fixed. Please do:
[code]

[2019-01-29 17:42] JimStarrett commented on #95
It appears that I'm running into errors when installing the program that may be the cause of the rooting issue. I ran the commands in build from source with homebrew:

/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
brew install git cmake nlopt armadillo
git clone https://github.com/FePhyFoFum/phyx.git
cd phyx/src
./configure
make
python run_tests

[2019-01-29 18:23] josephwb commented on #95
Ok, the nlopt one is confusing as you seemed to have installed it? Unfortunately I do not have a mac to test on. What does this do:
[code]
Any errors/warnings?

The other errors are all ok. We changed the precision of the edge lengths, so the "errors" are just extra decimal places.

[2019-01-29 18:33] JimStarrett commented on #95
When I run:

brew install git nlopt

It shows:

Linking /usr/local/Cellar/nlopt/2.4.2_2...
Error: Could not symlink lib/python2.7/site-packages/_nlopt.0.so
/usr/local/lib/python2.7/site-packages is not writable.

Sorry the mac issue is being so stubborn!

[2019-01-29 18:40] josephwb commented on #95
Oof. Phyx comes with a version of nlopt (in the `deps` directory), but that might not be what you want to do. Maybe @blackrim can help?

[2019-01-29 19:02] blackrim commented on #95
Hm, I am not sure. that sounds like a homebrew error.
Something like this might help?
https://stackoverflow.com/questions/14527521/brew-doctor-says-warning-usr-local-include-isnt-writable

[2019-01-29 20:17] josephwb commented on #95
Yeah, that sounds right. Perhaps there was a `sudo brew` in the past?

(FWIW I am guilty of `sudo pip install` 99.98% of the time. Ok, maybe 100%...)

[2019-01-29 21:37] josephwb commented on #95
Good to hear this. Although your issues (nlopt) were not the cause of the errors you came across. Please rerun the `pxrr` commands to determine that things have indeed been fixed on our end.

[2019-01-30 02:30] JimStarrett commented on #95
Ok, it is working, sort of...at least, I could certainly work with these results if needed.

I ran:
 pxrr -t besttrees.tre -g MY1173,MY1172,AR51,AR50,MY4258,AR92,AR93 -s -o rr_NorCo_besttrees7.tre

It returned a file with 9 trees and these seem to mostly be rooted with the group as monophyletic, but there should actually be 3368 trees. Then I ran the same command but included the -r flag, which re

[2019-01-30 08:09] josephwb commented on #95
So when `-r` is used, all trees should be returned with a single outgroup (it roots on the first found in the list). This is useful when you have successive outgroups (maybe not so much if your outgroups are monophyletic). So that makes sense.

I don't understand the first result (only 9 trees produced). Can you send me that file.

Sorry this is such a pain.

[2019-01-30 22:45] JimStarrett commented on #95
Hi Joseph

I've attached the original tree file, and the resulting tree file with 9
trees. Here is the command:

pxrr -t besttrees.tre -g MY1173,MY1172,AR51,AR50,MY4258,AR92,AR93 -s -o
rr_NorCo_besttrees7.tre

thank you for taking a look

Jim

On Wed, Jan 30, 2019 at 12:28 PM James Starrett <jamesstarrett10@gmail.com>
wrote:

[2019-01-31 16:10] josephwb commented on #95
@JimStarrett can you try:
[code]

[2019-01-31 20:21] JimStarrett commented on #95
When I run:
git pull && make pxrr && sudo make install

it returns:
fatal: not a git repository (or any of the parent directories): .git

when I run:
git clone https://github.com/FePhyFoFum/phyx.git

it returns:
fatal: destination path 'phyx' already exists and is not an empty directory.

Also, when I run:
autoreconf -fi

it returns:
-bash: autoreconf: command not found

Not sure what to make of t

[2019-02-07 05:55] JimStarrett commented on #95
Sorry for the late reply. It looks like it's doing exactly what I want now. Thank you!

[2019-02-20 18:16] jamie-arcc commented on #60
Is there any update on this?  This would be a requisite for https://github.com/FePhyFoFum/PyPHLAWD/issues/27 as well

[2019-02-22 11:32] josephwb opened #98 "Nexus tree file with internal comments"
Make the tree reader fail. Similar to #80. Example:
[code]
Such trees are produced by PAUP and Seq-Gen.

[2019-02-22 11:56] josephwb commented on #98
Should be fixed with c2739c64411a85ec5af47b27ff6de65ebcd6c9c6. However, there was a weird merge conflict that I will check.

[2019-02-22 12:01] josephwb commented on #98
Ok, merge conflict was with myself (multiple computers) so everything is kewl.

[2019-02-22 12:01] #98 closed

[2019-02-22 12:15] josephwb commented on #95
Closing as I gather this is working as expected.

[2019-02-22 12:15] #95 closed

[2019-02-22 12:19] josephwb commented on #90
Gah this clearly fell through the cracks. Didjya want to do this @jfwalker (since you wrote it)? If not, I can do it.

[2019-02-22 13:14] jfwalker commented on #90
@josephwb so I don't think it should matter whether it is nucleotide or codon. For codon it will likely have been aligned by an Amino acid or an algorithm that assumes three's such as prank. This means when you do the column occupancy all bases in the codon should either be present or absent together so if it's removing position one it will have to remove position 2 and 3, unless somehow this was

[2019-02-22 13:15] josephwb commented on #90
I _think_ the idea is to remove the stop codon, even if it is present in all the sequences.

[2019-02-23 03:17] fishextinction opened #99 "Install errors on OSX and Ubuntu"
Attempted to install phyx on Ubuntu 18.04.2 LTS

I note that this software appears to be designed for Python 2.7, but the guide provides no instructions on how to make sure modules are installed in a such a way that they are actually installed under 2.7.

Running python run_tests.py:

If I run "python2.7 run_tests.py" I get a giant stream of text that completely fills up the terminal, but the bott

[2019-02-23 05:14] josephwb commented on #99
Sorry for the difficulties.

The only involvement of python is script-wise and (like a bash script) checks the expected output of the various programs (there are ~40). You are correct in that the script expects python 2.7.

The giant stream of text is an expected output of this testing process.

The fact that so many programs _fail_ testing testing is due to a recent change in the precision of the

[2019-02-23 05:14] #99 closed

[2019-02-23 05:22] fishextinction opened #100 "run_tests.py has 9 incorrect failures"
When running "python2.7 run_tests.py", 9 of the 40 programs fail.

According to josephwb, this is due to a recent change in the precision of the edge length parameters.

[2019-02-25 22:14] minutoides commented on #99
I've the same problem... 9 test failed, and when i'm looking for these files like pxrr it doesn't appears in the directory... any solution?

[2019-02-25 22:23] minutoides commented on #99
Hi! Thanks for the aportation.
I'm having the same problem, 9 failed test, when I look for the files inside the src folder they do not appear, these are the files: pxcolt,pxmrcacut,pxmrcaname,pxrlt,pxrmk,pxrmt,pxrr,pxt2new,pxtscale.
There is another way to install this files individualy or another way to repair the phyx package?
Thanks, Miguel

[2019-02-25 22:27] josephwb commented on #99
As I mentioned in the closing comment, these are not real failures. Rather, it is a change in the precision used. We just need to update the expected results and these failures will disappear. I'll do this soon. Sorry that that was not clear.

I'm not sure what the issue is with pxrr & others. Do things seem to compile completely? It sounds like maybe things crash part way through. You can certain

[2019-02-25 23:33] JimStarrett opened #101 "filtering sequences with low percent identity from alignment"
Not sure if this would be straight forward or not, but I'm wondering if a code could be written that would take a multiple sequence alignment, calculate the pairwise % identities, and remove sequences from the alignment that fall below a user defined threshold of average % identity.

The longer story is that I have alignments from target enrichment that have some spurious sequences (e.g., many amb

[2019-02-26 17:56] blackrim commented on #100
This is probably true. Can you post an example? Thanks. Will update the tests for the precision immediately.

[2019-03-01 14:37] josephwb commented on #60
Sorry this has dragged for so long. Let's get it closed. I have no knowledge of conda. What do you require from us? We _should_ make a new release, as a few bugs have been fixed since the last one. Can you do this @blackrim?

[2019-03-07 20:58] jamie-arcc commented on #100
confirm this is happening to me too, though I am using Intel 2019. below is the output of `make check`:

[code]

[2019-03-07 21:04] blackrim commented on #100
Working on this now. Will push the update in just a minute

[2019-03-07 21:33] blackrim commented on #100
pushed a fix that changed the test but also makes a prettier precision for the trees 03cfa16

[2019-03-07 21:33] #100 closed

[2019-03-07 21:38] josephwb commented on #100
Thanks @blackrim.

[2019-03-18 12:50] josephwb opened #102 "pxlssq should recognize `standard` data"
E.g. morphological characters. At present defaults to DNA. Need to make use of `get_alpha_name`. 'Standard' data are stored with the `MULTI` alphabet. Will have to do a bit of work to gather the range of character identifiers used, but pretty straightforward.

[2019-03-21 22:30] JimStarrett commented on #101
I think the program Guidance performs a task like this.

[2019-03-21 22:30] #101 closed

[2019-03-26 09:48] JimStarrett opened #103 "pxs2phy Abort trap: 6 error"
Hi

I ran pxs2phy on a batch of nexus files with the command:
for i in *.nexus; do pxs2phy -s ${i%} > ${i%}.phy; done

I received the error message below three times and three files produced were empty. The other ~400 looked good. All of the nexus files were generated from the same program, and there didn't seem to be any obvious problems with the three that resulted in empty files.

Assertion fai

[2019-03-26 10:04] josephwb commented on #103
This is due to sequences being of unequal length (i.e., not aligned).

Are these genetic sequences, or morphological? If the latter, are any characters ambiguous e.g. `{0 1}`? If so, that is not yet supported by our alignment reader. Any I don't think phylip format supports it either?

[2019-03-26 21:17] JimStarrett commented on #103
Thank you for your response. It is peculiar, all 400+ of these files are DNA alignments in nexus format, output from mafft. When I look at the nexus files in text wrangler, I don't see any special or hidden characters that would prevent these three alignments from being converted to phylip.

[2019-03-26 21:29] josephwb commented on #103
Is it possible that these weirdo files have dos or mac line-endings? Because that would mess things up too. You can check/fix this directly in TextWrangler.

[2019-03-26 22:09] JimStarrett commented on #103
I looked at a sample of files and it appears the only files that didn't work are ones that were output by mafft in interleaved nexus format, perhaps because they are over 1 Kb in length. Otherwise all of the files have the same Document language (none), Text encoding (Unicode UTF-8), and Line break (Unix).

[2019-03-26 22:19] josephwb commented on #103
Ah! Ok. So we need to revisit our processing of interleaved data. Sorry for the difficulty.

Could you send one file to me to troubleshoot? phylo.jwb at gmail.com

[2019-03-27 07:19] josephwb commented on #103
It appears that interleaved data got left as a TODO, possibly bc it doesn't quite work with the philosophy of streaming one sequence at a time (all sequences must first be read in before any sequence can be processed).
I'll try to get this fixed today.
If you cannot wait, you can use [paup](http://phylosolutions.com/paup-test/) to do this:
[code]

[2019-03-29 17:01] josephwb commented on #103
Still working on the `pxs2*` bits, but the reader is complete. You can get things to work by piping:
[code]

[2019-04-02 20:19] coyotree commented on #103
Hi Joseph,
I just tried doing this but it spits out the error:
/apps/phyx/0.99/launch_phyx: line 12: 10086 Segmentation fault      singularity exec ${HPC_SINGULARITY_IMG}/phyx/0.99-xenial.img "$@"

[2019-04-02 20:38] josephwb commented on #103
Did you:
[code]
I just tried on a fresh clone and it worked with your file.

JWB

On Tue, 2 Apr 2019 at 21:19, Cody Howard <notifications@github.com> wrote:

[2019-04-02 20:43] coyotree commented on #103
Hi Joseph,

Sorry, I'm using phyx on a cluster and forgot that they need to update it.

[2019-04-03 13:24] josephwb commented on #103
@coyotree Make sure to include `make clean` in the (edited) command above. I pushed a bunch of (minor) stuff today that needs complete recompilation. You can check if things work properly by running:
[code]

[2019-04-04 23:08] josephwb commented on #103
Ok, interleaved Nexus is supported by all of the pxs2* programs as of 59d556882f2c997c85dfed722337713b813b79c5. e.g. your original command of:
[code]
should work. Let me know if this works for you, and we can close this puppy. @JimStarrett @coyotree

[2019-04-12 09:59] josephwb commented on #103
You can reopen this if it does not meet your expectations.

[2019-04-12 09:59] #103 closed

[2019-05-13 17:28] coyotree opened #104 "pxt2nex: command not found"
Hello,

I am trying to convert a tree file of 100 trees made from treePL to nexus format for input into treeAnnotator. I saw here (https://github.com/josephwb/Newick2Nexus) that 'pxt2nex' was now implemented in phyx but I receive the error "command not found" when trying to use it.

I am using a version of phyx updated on 03 April 2019 on a computing cluster.

The command I am attempting to run is

[2019-05-13 18:52] josephwb commented on #104
`make` should make all listed targets. If something fails upstream, then the downstream targets are not compiled. You can do `make pxt2nex` to compile this program specifically. But if things are failing, we should fix that. Let us know of any error messages produced during compiling.

[2019-05-14 15:07] coyotree commented on #104
Hi Joseph,

Our IT people had this to say:

"I just git cloned the phyx repo and did a new build. The 'pxt2new' is not
getting built.

phyx/src$ make pxt2nex
make: *** No rule to make target `pxt2nex'.  Stop.

And running a grep command to find any mention of pxt2nex in the source code
doesn't find anything either:

phyx$ grep -ri "pxt2nex"
phyx$"

[2019-05-14 15:19] josephwb commented on #104
Hmm yes I can confirm this. I'll add it in and let you know.

[2019-05-14 16:08] josephwb commented on #104
Ok, this is up. To get it installed do:
[code]
and assuming that works:
[code]
Let us know if this works.

[2019-05-14 16:25] coyotree commented on #104
This worked! Thanks!

[2019-05-14 16:25] #104 closed

[2019-06-15 17:18] Cactusolo commented on #43
Sorry, I can find a good place to ask this question, and it's not a issue.:

for the function "pxconsq" in phyx, the manual says that "the consensus sequence"; but I can't figure out  the "the consensus sequence" is strictly consensus or MJR consensus? If this could explained in the manual or can provide different flavors (or use defined consensus threshold) should be great.

Thanks!

Miao

[2019-06-16 10:49] josephwb commented on #43
I suppose it would be considered strict for DNA: IUPAC ambiguity codes are used to represent all bases present at a site (try ```pxconsq -s TEST/test.fa``` in the ```src``` directory for an example). Not sure what happens with AAs.

[2019-06-16 10:58] josephwb commented on #43
Hrm there may be a bug here. The first site in the example (A,G,A,T,T) should be 'D', but 'R' (A.G) is reported. The next few sites are correct. But this should be examined in detail.

[2019-06-16 11:13] josephwb commented on #43
Ok I fixed that one (missing condition). The rest seem fine, but will test thoroughly later today.

[2019-06-17 21:15] Cactusolo commented on #43
@josephwb Also, for the output:

Is it possible to have a flag (or option) that user can choose preferred symbol for gap?
Like "-" or "N", or no gap generated in the consensus sequence (like the strict major rule consensus in Geneious?

I think these are useful when assembling target enrichment data, where people want consensus sequence for each gene as reference. So the direct `pxconsq` results w

[2019-06-17 21:47] josephwb commented on #43
Sure. We would need to know the permutations that would be desired. For example, if one sequence has A and all the rest gaps, should the consensus be A or - (or something else)? It is also not rare to have both N (ambiguity) _and_ - (gap) within a single sequence. If all sequences are a gap at a site, are you suggesting dropping the site from the consensus completely?

Happy to do whatever you'd l

[2019-06-18 02:29] Cactusolo commented on #43
Thanks! Will do.

[2019-06-18 03:24] Cactusolo opened #105 "Request to add feature to generate consensus sequences"
Hi,

I would like to extend `pxconsq` function from **phyx** has more features:

1. have a flag (or option) that user can choose preferred symbol for gap? Like "-" or "N", or no gap generated in the consensus sequence (like the strict major rule consensus in Geneious? see examples below)

1. providing user defined consensus threshold value [here](https://drive.google.com/file/d/0By2mvkYHeH6ScXp1MW

[2019-06-18 16:56] josephwb commented on #105
Kewl. Thanks for putting this together.

[2019-06-18 17:13] josephwb commented on #105
Hey @Cactusolo can you send me the complete file so I can match these expectations exactly? phylo dot jwb at gmail dot com

[2019-06-19 03:20] Cactusolo commented on #105
@josephwb done.

[2019-07-16 13:35] HeatherKates opened #106 "Feature request: Support for regex in pxrmt/main_rmt.cpp"
I'd like to be able to do something like:
`pxrmt -t tree.phy -n .*Papilionoideae`
to remove any tip of a certain family if my label names include an ID for the family name in addition to a unique identifier. I know this may not look like a sound way to use pxrmt, but I'm actually removing an entire clade that needs to be included in the analysis as an outgroup (and now I want just the ingroup in t

[2019-08-12 16:32] blackrim commented on #106
That is a good idea. I will tackle that.

[2019-09-12 20:23] drelo opened #107 "Trouble installing in Ubuntu 18.04; error with libnlopt-cxx-dev"
Hi, maybe this is a minor thing but I am installing phyx in a new machine, with Ubuntu 18.04. First I got the error

`E: Unable to locate package libnlopt-cxx-dev` I don't know if this is available in 18.04 but maybe I am doing something wrong [This machine in the lab should stay under LTS].

I proceeded with the install anyway and I got errors during the run_tests.py step. How could I fix this? T

[2019-09-12 22:01] shayandoust opened #108 "Trouble with tests"
Hello,

My name is Shayan and I am part of the debian med packaging team for debian. Phyx has currently been packaged, and the repository for this is viewable here[1].

This is with regards to the run_tests.py file within the src directory. Currently, we are looking to use this file as part of the autopkgtest testing suite for the phyx package. For some reason, the tests do not complete at a 100%

[2019-09-13 00:22] #107 closed, assigned to nobody

[2019-09-13 02:08] #108 closed, assigned to nobody

[2019-09-13 18:14] drelo commented on #107
@josephwb , the main page https://github.com/FePhyFoFum/phyx still has the problematic instructions  to install cxxx-dev, I just noticed this because in another machine at the lab I left that tab open and started to install/build from there.

[2019-09-13 18:30] josephwb commented on #107
Hmm I actually do not know if we need libnlopt-cxx-dev. Do you @blackrim?

[2019-09-13 18:32] blackrim commented on #107
It uses it for optimization I believe still.

On Fri, Sep 13, 2019 at 2:30 PM Joseph W. Brown <notifications@github.com>
wrote:

[2019-09-13 18:38] josephwb commented on #107
Hrm ok my apt-get (Ubuntu 18) does not even have that package or anything similar.

[2019-09-16 00:28] shayandoust opened #109 "Move over to python3"
Hello,

With the deprecation of python2 approaching soon, we generally encourage upstream developers to port over any python2 files they have to python3. This is becoming a mandatory requirement within debian. For instance, this [bug report] opened against phyx.

Currently, we have created a [patch] to which we have used the 2to3 tool to recursively traverse all directories and port over to python

[2019-09-16 01:23] josephwb commented on #109
Thanks for the report. `Phyx_Gui.py` was a toy, and is not being developed. It is safe to remove (we will do the same with the master branch).

[2019-09-26 20:45] josephwb commented on #109
Done.

[2019-09-26 20:45] #109 closed

[2019-10-18 17:43] josephwb opened #110 "set up travis"
Should have travis tests run automatically with each commit.

[2019-10-18 23:40] josephwb commented on #110
Got this up & running, but definitely room for improvement in [travis.yml](https://github.com/FePhyFoFum/phyx/blob/master/.travis.yml).

[2019-10-22 04:09] tseemann opened #112 "Documentation for all the tools?"
I am struggling to find documentation for all the `phyx` tools.
Can you help me?

[2019-10-22 04:10] tseemann commented on #112
UPDATE:
i found a PDF Manual in the `doc` dir on github.
But I don't think this is linked to anywhere on README.md?
Also, can we please have a Markdown (or HTML) version of it please?

[2019-10-22 11:44] josephwb commented on #112
The wiki is [here](https://github.com/FePhyFoFum/phyx/wiki).

[2019-10-22 13:21] josephwb commented on #112
I should note that both the manual and wiki are a bit out of date. I will endeavour to update them.

[2019-10-22 22:48] tseemann commented on #112
@josephwb thank you for being polite in the face of my inability to read correctly the first paragraph of your README . i looked twice and didn't see it, sorry.

_phyx performs phylogenetics analyses on trees and sequences. See installation instructions for Linux and Mac including any dependencies on the wiki here or below. A list of the current programs with examples can be found here. See a brie

[2019-10-22 22:48] #112 closed

[2019-10-22 22:58] josephwb commented on #112
Haha. No problem. It really _should_ have its own heading to be easier to find. We'll try to make things clearer.

[2019-10-22 23:21] josephwb commented on #112
Hopefully things are [more easily visible now](https://github.com/FePhyFoFum/phyx/blob/master/README.md). Documentation still needs a thorough updating, but the important stuff is there.

[2019-10-22 23:33] tseemann commented on #112
Thank you @josephwb - it is much clearer now.

[2019-10-23 02:34] josephwb commented on #110
This is performing in the minimal way it was set up. Can add features (i.e., further tests) later, but closing for now.

[2019-10-23 02:35] #110 closed

[2019-10-29 16:27] Cactusolo commented on #107
Hi, just follow up, I have the same issue, before I `git clone phy repo`:

~/apps$ sudo apt install libnlopt-cxx-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libnlopt-cxx-dev

I also tried suggestions from [here](https://askubuntu.com/questions/1183467/e-unable-to-locate-package-libnlopt-cxx-dev/1183510#1183510)

But no lu

[2019-10-29 16:47] josephwb commented on #107
I have not been able to find `libnlopt-cxx-dev`. Trusn out you don't need it anyway. Omit that dependency, then do:
[code]
to confirm things work. If so, please report here, and I will just take that dependency out of the docs.

[2019-10-29 17:06] josephwb commented on #107
Thanks. It is [gone](https://github.com/FePhyFoFum/phyx/commit/e0260d20d3d5a4d4d88c3b0e16f78f2472a19b9e).

[2019-10-30 13:37] jamie-arcc commented on #60
bump

[2019-10-30 13:46] josephwb commented on #60
I don't have the faintest clue what is needed on this from our side (sorry: no experience with conda whatsoever). We do have a recent release [here](https://github.com/FePhyFoFum/phyx/releases/tag/v1.01). Is there something else?

[2019-11-02 00:30] josephwb commented on #106
Similar to https://github.com/FePhyFoFum/phyx/issues/59. I've gone back and forth on whether we need regex, as that can be done at the commandline (see example in other issue), but it might be fun to implement.

[2019-11-06 15:21] josephwb opened #114 "pxtrt issues"
1. assumes rooted trees
- [x] TODO: check rooted status, exit if not rooted
2. returns knuckles
- [ ] TODO: plug in existing de-knuckler
3. assumes root is to be returned, even if mrca of traced terminals does not include root
- [ ] TODO: start painting/extraction from mrca, not root

[2019-11-06 15:36] josephwb commented on #114
44802dceacfcc03c1fbec34c7e18e6e747d17d35 checks rooted status.

[2019-11-06 15:40] josephwb commented on #114
249cce21f0893611523e21edbf8653c943d2cbcc starts painting/extraction from the root.

[2019-11-07 14:58] josephwb commented on #114
Hrm reverted previous commit with 8218c7616573e40bd7ee4b3456a0d9a4a14c0cde as the MRCA operation is far too expensive (testing on a 576542 tip tree).

[2019-11-07 19:09] josephwb commented on #114
Although kludgey, c13bdb52d15b4340332825b01f9c26e05c5a94c4 fixes the remaining issues.

[2019-11-07 19:10] #114 closed

[2019-11-07 19:27] josephwb commented on #74
The [revamped](https://github.com/FePhyFoFum/phyx/issues/114) `pxtrt` program accomplishes the castor 576542-tip example above in 5 seconds (I believe faster than any of the benchmarks in that paper?).

I am making a new general subtree class that will accomplish all that `pxrmt` (prune tips), `pxtrt` (induced subtree), and `pxmrcacut` (subtree) currently do.

[2019-11-07 19:29] josephwb commented on #66
I am closing this as we don't have a reproducible example. Please reopen if one surfaces.

[2019-11-07 19:29] #66 closed

[2019-11-13 02:36] josephwb commented on #102
With ebf40c88da76e63b5cd1f1974f8d452fbe3337ea supports binary and arbitrarily coded standard (morphological) data. Also better handling of interleaved data. I've tested it pretty extensively, but will do a few more tomorrow and then close this.

[2019-11-13 03:21] josephwb opened #115 "write correct datatype and symbols for nexus (pxs2nex)"
Currently MULTI (phyx) data written as STANDARD (Nexus), but without symbols (i.e. the alphabet or set of character state labels).
Symbols are not required for DNA, PROTEIN, or BINARY (STANDARD, with the default symbol set 0,1). But symbols are needed for morphological data (also considered STANDARD, but with and arbitrary symbol set).

[2019-11-13 03:38] josephwb commented on #115
I believe c2d29735072bdb16c3269e475931ea0a6eb75d2b addresses this.

[2019-11-13 03:38] #115 closed

[2019-11-13 03:40] josephwb opened #116 "travis does not register a make check failure as a failure"
Since `make check` exits normally, it is not registered as a failure. Need to fix this.

[2019-11-13 14:51] josephwb commented on #116
Looks to be addressed with c2add3bdf48716a7389e1d946f26cace7ba17ec2.

[2019-11-13 14:51] #116 closed

[2019-11-13 16:06] josephwb opened #117 "pxtrt segfault when using complement tip set"
Works for non-complement...

[2019-11-13 16:10] josephwb commented on #117
Doh. Fixed with b50227af9bb70fca13cca1127ab4fc486d33c3e5.

[2019-11-13 16:10] #117 closed

[2019-11-21 15:08] josephwb opened #118 "Can't read in phylip alignments?"
Crashing when using a phylip alignment as input:
[code]
I've checked out an old version, and can confirm it is nothing that I have been doing recently. Should be a simple fix.

[2019-11-21 15:51] josephwb commented on #118
Hrm. It seems that _reasonable_ phylip files are read correctly. The error above occurs if not all characters are present on a single line:
[code]
It turns out that PAUP does this sort of writing by default (100 chars per line) so this is not necessarily an edge case.

[2019-11-21 15:58] josephwb commented on #118
The original format limited sequence names to 10 characters, and the sequence started on the 11th _no matter what_ i.e., there is a good chance there is no whitespace between the name and the sequence. I don't think we should bother trying to support this.

[2019-11-21 16:06] josephwb commented on #118
Ugh. This is valid:
[code]
That is, interleaved. What a headache...

[2019-11-21 16:08] #102 closed

[2019-11-23 02:17] josephwb commented on #118
Have this in hand, thanks to e0ece009bbd12ff6cf2420129bebd1c1eba63507.

[2019-11-25 01:15] josephwb commented on #118
Things addressed with 330902aeb57ccd49c4ae721d21faf9c20f41ec29. Will close this after the merge.

[2019-12-08 16:40] josephwb commented on #90
Sorry this has taken forever, but it has been implemented as of 0154ac6d8f70dc26358c3c0e47b78f01df5bf9c9. Still need to add the bit about removing the stop codon. Will close this after merging to master.

[2019-12-09 04:02] josephwb opened #119 "Add citation information"
Add phyx citation option to help.

Individual programs should include any other citations that are applicable.

[2019-12-09 04:04] josephwb commented on #56
I've changed my mind on this. Apologies all around.

This appears very easy. I hope to push man pages for all programs in the next day or two.

[2019-12-09 12:07] josephwb commented on #119
This is added with c320d43f6ee2c380dae05649520e2e3d63aa09f9. Will close after merging to master.

[2019-12-09 16:24] kloetzl commented on #56
Ideally one would want to generate manpages and other documentation from each other/the same source. If you find a good solution to that, please let me know. ☺

[2019-12-09 16:28] josephwb commented on #56
What I am using at present is `help2man`. It is partly because it seems so easy to use that I flipped my mind on this. I am exploring its functionality to see what is possible, but even the default settings generate decent results.

[2019-12-11 00:24] josephwb opened #120 "Add leaf stability index"
Implemented the beloved leaf stability index from phyutility. Requested by @thej022214.

I am pretty deep in the code atm, so I can look at this. Ideally we would have 1) example data and 2) expected output.

[2019-12-11 03:58] josephwb commented on #56
An initial set of man pages exists as of df935cbfafe50141a8a5f544f6928d56bd4bc018. Still need to 1) vet these for content and 2) set things up to install these with their respective programs. East stuff; will complete in a day or two, and close this when merging to master.

[2019-12-11 18:11] josephwb opened #121 "pxtrt leaves root edge"
By a fluke I have found that under certain samplings (traces) a root edge may be retained in the resulting tree. Easy check. Will fix in a bit.

[2019-12-11 19:03] josephwb commented on #121
Fortunately some smart person already wrote a `removeRootEdge` function :nerd_face:
Fixed with e3e5be55c83c58849ac3a23d14c306147e972efc. Will close upon merging with master.

[2019-12-13 17:07] josephwb commented on #74
I've been looking into the relative speeds of `pxrmt` and `pxtrt`. Below are some benchmarks across tree sizes (each point is the average across 3 distinct trees):
![results](https://user-images.githubusercontent.com/808499/70817058-bb24a280-1d9e-11ea-882f-74306d2096f1.png)
In general, `pxrmt` is _always_ faster (regardless of tree size) if the number to be removed in small. It is only when the nu

[2019-12-15 05:19] josephwb commented on #74
As currently implemented, `pxtrt` requires a rooted tree (as traces use the root as a termination). Because of the huge overhead for `pxrmt` on large trees (above), I tried the following for unrooted trees:
1. root on an arbitrary terminal
2. do the trace (i.e., remove specified terminals)
3. unroot

it turns out the added procedures (rooting + unrooting) is negligible (testing a single tree of 50

[2019-12-15 14:37] josephwb commented on #74
It appears that the approach above is indeed viable. Here is the plot above but for unrooted trees:
![results](https://user-images.githubusercontent.com/808499/70864243-51330700-1f1e-11ea-8997-26cb0dc0c749.png)

[2019-12-15 19:26] josephwb commented on #74
I implemented the procedure above with 35a99eab2046258ba3b5d078552554811298ddef. Here are the results for the most extreme case above (500k tips, remove 5 K):
[code]
So this looks resolved. I'll close this when merging to master.

[2019-12-16 14:29] josephwb commented on #106
Ok I have most of this implemented. Will push later today.

[2019-12-16 18:02] josephwb commented on #106
This has been implemented as of 3b51099f196d9f8f82a135eb1d2f12458b019a2d. I've tested it, but further testing welcome.
I'll close this when merging to master.

[2019-12-16 19:09] josephwb commented on #59
`pxlstr` is done (3b51099f196d9f8f82a135eb1d2f12458b019a2d). Use the same approach for sequences (`pxrms`).

[2019-12-16 19:20] josephwb commented on #59
Ok this too is implemented (with 1c46b0d0b0eefad9837837594774431fc41f3c4c). Will close this when merging to master.

[2019-12-16 21:05] HeatherKates commented on #106
Thanks for doing this! I missed your comment about doing this from the command line before.

[2019-12-17 01:17] josephwb opened #123 "Finish implementing compositional heterogeneity test program"
`pxcomp`, which is an alignment-only test (i.e., no tree; a similar test is present in p4). It was mostly implemented, but was forgotten about. Just needs p-values. Will push tomorrow.

[2019-12-18 14:55] josephwb commented on #59
Doh the above commit deals with `pxrms`, not `pxrls`. This issue is still wide open. Will get to it in a bit.

[2019-12-18 15:22] josephwb opened #124 "pxtcomb (tree grafter) does not work"
Passing a straightforward case (i.e., no conflicts) produces a grafted tree, but it is missing some terminals from the reference tree.

This program is also missing a test.

[2019-12-18 22:47] josephwb commented on #123
Implemented with 9bd998d3cae160e8e79cf1b1e1b446a2cb9c453e. Will close when merging to master.

[2019-12-19 03:39] josephwb opened #125 "pxtcol needs a test, example data"
Title says it all. I have not used this, so punting this issue to @blackrim ;)

[2019-12-19 03:56] josephwb commented on #52
Ack, this is another that got forgotten. Looks like this got pretty far. Will look into this more tomorrow.

[2020-01-27 17:06] #123 closed

[2020-01-27 17:08] #74 closed

[2020-01-27 17:08] #121 closed

[2020-01-27 17:08] #56 closed

[2020-01-27 17:08] #119 closed

[2020-01-27 17:09] #118 closed

[2020-01-27 21:21] kloetzl commented on #56
:+1:

[2020-01-28 19:05] josephwb opened #127 "Deprecation of python2 broke make check"
We currently have this in the `Makefile`:
[code]
and works with python 2 or 3 (aliased to 'python'). On a fresh Ubuntu install I get the following:
[code]
bc python2 is no longer available (although Travis tests pass). So I guess we should be explicit and specify python3.

[2020-01-28 19:12] josephwb commented on #127
Done.

[2020-01-28 19:12] #127 closed

[2020-02-20 20:19] michael-branstetter opened #128 "pxtgen not found in current repo"
The manual says this function should be available now, but I can't find it after updating. Is this still in development?

[2020-02-20 22:46] josephwb commented on #128
Try:
[code]
and `sudo make install` if you want to install it.

Let us know if this works.

[2020-02-20 22:54] michael-branstetter commented on #128
That did not work. When I entered "git pull", it returned "Already up to
date."

Michael

---------------------------------------------------------
Michael Branstetter, PhD
USDA-ARS Pollinating Insects Research Unit
Utah State University
5310 Old Main Hill
Logan, UT 84322-5310
(435) 797-2588
---------------------------------------------------------

On Thu, Feb 20, 2020 at 3:46 PM Joseph W. Brown

[2020-02-20 22:59] josephwb commented on #128
Ah ok. You have all the files, you just need to generate the Makefile.

Try the remaining commands above. You can even do `make pxtgen` to just make that one program.

[2020-02-20 23:05] michael-branstetter commented on #128
I did go through all of the commands after git pull and pxtgen still did
not compile. Typing "make pxtgen" separately did work, however, so problem
solved.

Thanks,
Michael

---------------------------------------------------------
Michael Branstetter, PhD
USDA-ARS Pollinating Insects Research Unit
Utah State University
5310 Old Main Hill
Logan, UT 84322-5310
(435) 797-2588
-----------------------

[2020-02-21 01:20] josephwb commented on #128
Hmm. Try:
[code]

[2020-02-21 18:43] josephwb commented on #128
Hrm I cannot recreate this. I cloned a very old version of the repo, built, pulled, and rebuild again and everything is as it should be. I am baffled. Obviously you have the code _and_ the compile command in your Makefile, but it feels like `pxtgen` is not part of the default build.

Can you please report the results of (from the src dir):
[code]
Mt results are:
[code]
That first line (`PROGS`) li

[2020-02-23 16:33] josephwb commented on #128
Since I cannot recreate this I'm going to close this for now. Please re-open if new information surfaces.

[2020-02-23 16:33] #128 closed

[2020-03-06 19:46] josephwb opened #129 "pxcat -u does not work"
The `-u` arg seems to be ignored.

[2020-03-06 20:19] josephwb commented on #129
Fixed with 4839c1bf8dff1c2a6c1f17829e5471fdb842d571.

[2020-03-06 20:19] #129 closed

[2020-03-09 16:56] Cactusolo opened #130 "pxt2new terminate called after throwing an instance of 'std::out_of_range'"
Hi,

I'm trying to convert the nexus format to newick using `pxt2new` function.

**Here is the cmd:**
`pxt2new -t Magallon_etal_PL_ML.nex -o test.tre`

_the input tree can be found [here](https://datadryad.org/stash/dataset/doi:10.5061/dryad.k4227)._

**Here is the error msg:**
terminate called after throwing an instance of 'std::out_of_range'
  what():  basic_string::substr: __pos (which is 18446

[2020-03-09 17:11] josephwb commented on #130
It looks like this is the result of a Nexus comment within the Begin trees block. I thought this was covered, but I guess not. I will fix it right away.

For the moment you can just delete the 6th line `[TREE DESCRIPTION of tree PAUP_1]`.

[2020-03-09 17:34] josephwb commented on #130
Fixed with 17bb570e6072b0b56ca85aaf90e2e8dc24c8b772. Thanks for reporting it.

[2020-03-09 17:34] #130 closed

[2020-06-11 06:17] wuxiaopei0509 opened #131 "how to install armadillo dependency without root permission?"
Hi
I have no root perimission on LInux,How could I compile and install armadillo on Linux

[2020-07-07 17:30] HeatherKates opened #132 "treereader produces incorrect tree when input contains illegal characters"
[Fagales_root_list.txt](https://github.com/FePhyFoFum/phyx/files/4886169/Fagales_root_list.txt)
[Fagales_Drop_list.txt](https://github.com/FePhyFoFum/phyx/files/4886255/Fagales_Drop_list.txt)
[Fagales_CAML.pxrlt.txt](https://github.com/FePhyFoFum/phyx/files/4886257/Fagales_CAML.pxrlt.txt)

Run commands (either output tree has (a) polytomy/ies):
`pxrr -g ``more Fagales_root_list.txt|tr '\n' ','`` -

[2020-07-27 12:25] mkszuba opened #133 "PREFIX hard-coded to /usr/local"
Both in phyx-1.1 and on the master branch, in src/Makefile.in PREFIX is hard-coded to /usr/local. This results in the configure option --prefix being quietly ignored + requires editing said file to install phyx in a non-default location.

[2020-07-27 12:36] mkszuba opened #134 "'make install' does not create $PREFIX/bin before installing binaries"
Both in phyx-1.1 and on the master branch, in src/Makefile.in the install phase attempts to copy phyx binaries into $PREFIX/bin without first checking if that directory, or indeed $PREFIX, exists. Interestingly enough this IS taken into account before installing man pages.

[2020-07-27 13:12] josephwb commented on #133
Fixed with ae1e3f3.

[2020-07-27 13:12] #133 closed

[2020-07-27 13:17] josephwb commented on #134
Fixed with 5c2771b.

[2020-07-27 13:17] #134 closed

[2020-07-27 13:18] josephwb commented on #132
I will look at this. Sorry for the delay.

[2020-07-27 15:56] josephwb commented on #132
Hrm something is seriously wrong (with the tree reader, I believe). Trying to come up with a more manageable example to troubleshoot.

[2020-08-10 15:18] josephwb commented on #131
@wuxiaopei0509 [this post](https://stackoverflow.com/questions/52430158/installing-armadillo-without-root-permission) shows you how to do it.

[2020-08-10 15:18] #131 closed

[2020-08-13 17:29] #106 closed

[2020-08-20 21:35] coyotree commented on #65
Just curious if there are any updates on this?

[2020-08-27 00:05] josephwb opened #136 "pxcomp stuck in loop"
Not sure why, but for a certain data set `pxcomp` is looping forever. The [stopping criterion expects a small number](https://github.com/FePhyFoFum/phyx/blob/master/src/comp_test.cpp#L271-L282), but this value becomes `-nan` and so never completes. This alignment is longish (30K sites) and contains a lot of missing data (7%), so I don't yet know what is responsible...

[2020-08-27 00:08] josephwb commented on #136
Indeed, the ratio that _should_ be getting smaller is instead getting larger. Hmmmmmmmm....

[2020-08-27 01:51] josephwb commented on #136
Ugh. `isnan` and `isinf` do not work with fast-math. Considering whether it is needed (or what alternatives might be available).

[2020-08-27 15:05] blackrim commented on #65
I would also like this functionality, but don't know if @josephwb had already assigned it to himself. @josephwb are you doing this?

[2020-08-27 15:52] josephwb commented on #65
I am not currently working on this. Basically, we need a general Nexus tree writer that preserves the annotations. This should be made as an available output option for `pxrlt` and `pxrmt` and `pxrr` (maybe others?).

[2020-10-15 17:54] josephwb opened #137 "pxrr does not work when root edge present"
[Submitted by zhangqiong]

Working with this tree:
[code]
Trying to reroot or just unroot gives the error:
[code]
I've gone through previous releases and the same error is always printed.

When I do:
[code]
things work, which makes me think the annotations are to blame. However, when I add annotations to other trees, things work, so I have no idea what is going on...

[2020-10-15 18:04] josephwb commented on #137
Ah ok this tree somehow has a root edge (despite seemingly been reconstructed with RAxML). So, not an issue with annotations: `pxcltr` removes annotations, knuckles, _and_ root edges. So, bad input, I suppose. But we can deal with this.

[2020-10-15 18:45] josephwb commented on #137
Extended `pxcltr` to allow specific properties to be remove (not just all) with 67de1ec3de4092a168ef27e876d8a21a15bb568b. I'll put a quick check for a root edge in `pxrr` so we don't run into this again.

[2020-10-15 18:56] josephwb commented on #137
Check implemented with a0fc9ef9d9e25cb743e79b75fdf0f7083831827f. I suppose we could do this automatically, but really we should not be encountering this type of tree often.

[2020-10-15 18:56] #137 closed

[2020-10-16 19:08] josephwb commented on #132
Minor progress on this: when I run the tree through ape (i.e., just read in, write out) the resulting tree works fine in `pxrr`. So it is something about the tree string itself...

[2020-10-16 19:36] josephwb commented on #132
AH!

Ok, this is simple. Two of the terminal labels contains a newick-illegal character:

Fagales_NA_NA_Fagaceae_NA_Quercus_brandeg[e]ii
Fagales_NA_NA_Fagaceae_NA_Quercus_margarett[i]ae

Phyx interprets "[" as an annotation, thus terminating the labels, storing the bits in square brackets as annotations, an creating new nodes (without branch lengths) for the remainder of the label.

If 1) the squa

[2020-10-16 19:41] josephwb commented on #132
Kicking myself for not considering this earlier... It is almost _always_ line endings or invalid characters...

( ╯°□°)╯ ┻━━┻

[2020-10-19 18:30] josephwb commented on #132
Hrm not sure how to "fix" this. We cannot allow illegal characters (()[]{}/\\,;:=*\'\"`+-<>) in taxon/node labels. The offending characters here were '[' and ']'. MrBayes and FigTree may put annotations (bounded by '[' and ']') at the end of terminal labels, so we cannot allow them within unquoted labels. I presume that ape reads a tree like the one above by removing all "comments" on a first pass

[2020-10-19 18:30] #132 closed

[2020-10-19 18:35] HeatherKates commented on #132
Hi Joseph, thanks for looking so carefully at this. I had found/fixed those labels in other analyses...missed this one! So this error actually had nothing to do with anything important or likely to recur. My mistake.

[2020-10-19 18:37] josephwb opened #138 "How to handle trees with illegal characters?"
Arising from https://github.com/FePhyFoFum/phyx/issues/132

What to do with trees that contain unquoted  Nexus ("()[]{}/\\,;:=*\'\"`+-<>";) or newick("()[]\':;,") illegal characters? Most times the tree reader will just crash on bad input, although sometimes (like with #132) a corrupted input _is_ produced (without warnings).

It would be nice to be able to detect bad input and report back, but th

[2020-10-19 18:38] josephwb commented on #132
@HeatherKates  No worries! Good to know that this type of thing can arise, and we should find a way to deal with it.I am just sorry it took so long to realize it on my end.

[2020-10-22 15:31] blackrim commented on #60
Back here, but still don't know what we need to do to get this through.

[2020-10-26 21:42] druvus commented on #60
Finally got back to this and phyx is now available through Bioconda.

[2020-10-27 14:49] josephwb commented on #60
@druvus Sweet, thanks! So, we can close this?

[2020-10-27 16:33] druvus commented on #60
Yes, please close it. Upcoming updates will be handled by the Bioconda bot.

[2020-10-27 16:54] #60 closed

[2020-12-09 18:41] HeatherKates opened #139 "pxlstr reports binary:false but I can't find the polytomy(/ies)!"
Hello,

I've run into this problem many times that trees that I have modified (with phyx and manually) and am trying to read back into raxml-ng trip up the tree reader in that program. I've been using pxlstr to try to identify the problem (the tree needs to be fully bifurcating and I'm guessing that may be the issue) on a very large tree. My tree is attached. Pxlstr reports that this tree is not b

[2020-12-09 19:22] josephwb commented on #139
Hi @HeatherKates I will look at this. But at a first quick check APE says that it is not binary either.

[2020-12-09 19:34] HeatherKates commented on #139
Thanks @josephwb. I uploaded the wrong tree - the tree has branch lengths and some are "0". This is the tree I meant to share (cladogram). But in both cases I'm now checking in ape and also find that the tree is not binary so this is not a phyx issue. Feel free to disregard and close unless you happen to have an idea!
[Backbone_scaffolded.cladogram.tree.txt](https://github.com/FePhyFoFum/phyx/file

[2020-12-09 19:38] josephwb commented on #139
Thanks.

Seems that `egrep` (`grep -E`) does not support `\d`? Try `grep -P` instead. (That said, I am still looking for the polytomy...)

[2020-12-09 19:50] josephwb commented on #139
R tells me that there are 4 polytomies. Tracking down where they are now.

[2020-12-09 19:53] HeatherKates commented on #139
What tool/code are you using to do that? I can randomly resolve the polytomies in ape and move on but obviously I want to know where they were so I'm very curious. Again...not a phyx caused issue in all likelihood so I doubly appreciate your help. Maybe could lead to a feature request though....!

[2020-12-09 20:01] josephwb commented on #139
Here is the smallest clade.
![poly](https://user-images.githubusercontent.com/808499/101680548-da482580-3a2e-11eb-849e-ea5d6e0e746b.png)

The way I did this is looking at the edge matrix. If you know how APE (crazily) stores trees, the edges are stored in a 2 column matrix (1st column = ancestor ID, 2nd column = descendant ID). For a binary tree, each ancestor node ID should appear in column 1 exa

[2020-12-09 20:05] HeatherKates commented on #139
Wow, that is so helpful (obviously not a polytomy I want randomly resolved, an error in pasting in subtrees!). That is a clever straightforward way to ID these - surprised there's no a function written in ape to do it. I will save it for future use! Thanks again.

[2020-12-09 20:13] josephwb commented on #139
Gah there probably is a function. I did it in a very dumb way:
[code]

[2020-12-09 20:16] josephwb commented on #139
BTW a polytomy-finder for big trees for phyx seems useful (and should be next to trivial to set up; I believe we store the number of children as a property of each node, so we need only traverse the tree).

[2020-12-09 20:25] josephwb commented on #139
And I am at a loss on how one would detect a polytomy using grep if it is deep in the tree (i.e. does not involve terminals alone). But my grep skills are limited, so if you find a way please share it.

[2020-12-09 20:30] HeatherKates commented on #139
No, I think grep is a lost cause. In the past when this happened it seemed to be a result of dropping tips and the polytomies happened to be at the tips only, so that was just a low hanging fruit to try first. I look forward to seeing it as a feature someday! Closing this now. Thanks for taking the time to help with my problem.

[2020-12-09 20:30] #139 closed

[2021-03-17 14:44] stubbsrl opened #140 "prune low support branches and/or remove polytomies"
Would it be possible to add a feature to pxrmt that would allow me to prune nodes (and descendants) of low support rather than leaf names? That is, remove all branches and descendants on branches with less than, say, 50 BS.

Another way I was thinking about this is if I input a tree that already had branches of low support collapsed (by newick utils for instance) if I could then use pxrmt to prune

[2021-03-17 20:21] josephwb commented on #140
I like this idea, and have thought about this from time to time. I think I even have some proto-code laying around somewhere...

We need to be absolutely explicit with what is expected when polytomies reside deep in the tree (i.e., near the root) but has well-resolved descendant clades; surely not _all_ of this should be pruned?

I will think about this a little. Thanks for bringing it up.

[2021-03-18 08:16] stubbsrl commented on #140
Thanks for the quick response!

One of the things I would like to do with these cleaned gene trees is tally up triplets. Right now I'm getting wonky tallies that seem to go beyond ILS and gene flow, and my guess is that this is because I'm counting relationships that aren't actually statistically supported.

In regards to your point about how to deal with a polytomy in the backbone I'm working wit

[2021-03-18 12:07] josephwb commented on #140
Could you supply a file containing a few newicks with support values, as well as expected output (ideally expected newicks, but verbal works too)?

In the 'keep one in' approach, is there a concern that a biased representative tip might be selected? Let's say you have 3 gene trees with the same topology as the one below, where F (or G) is as equally related to ((A,B),(C,D)) as is E. If a represent

[2021-03-18 13:02] stubbsrl commented on #140
Yes, I started to write about the potential issues with the select one approach but then my post got way too long. In the triplets approach the empirical trees are compared against simulated trees which would have the same missing taxa (see Cai et al. 2020 Sys Bio) so that shouldn't be a problem. In other analyses, if the selected taxa could be truly random I think it would still be okay in networ

[2021-03-19 02:25] josephwb commented on #140
@stubbsrl fyi there is an available phyx program `pxcolt` which collapses internal edges below some threshold. Currently it only supports support values in [0,1], i.e., not integer values, but that is easy to fix. This seems to be a decent starting point to your goal.

[2021-03-19 08:41] stubbsrl commented on #140
Oh cool thanks! I'll check it out today.

Rebecca

[2021-03-19 18:34] josephwb opened #141 "pxcolt fails when support is float > 1"
Stupidly, support was properly scrutinized _only_ if either 1) proportion/probability [0,1] _or_ 2) an integer > 1. Obviously a value like 74.3 fits neither of these... Regards #140

[2021-03-19 18:52] josephwb commented on #141
Fixed with 768d37a .

[2021-03-19 18:52] #141 closed

[2021-03-29 15:05] josephwb commented on #140
Hi @stubbsrl. I just want to make sure you are not waiting on me for this. I hope to get to this soon, but am up to my eyeballs in other things at the moment.

[2021-03-29 16:08] stubbsrl commented on #140
Hey @josephwb,

No worries - I gathered this wasn't happening right at this moment. Thanks for the follow up!

Rebecca

[2021-03-30 19:40] josephwb commented on #140
Hi @stubbsrl The example trees you sent over were all rooted. Is that guaranteed? I want to get this to both with both rooted and unrooted trees, but am concentrating on the former for a first pass.

[2021-03-30 19:45] stubbsrl commented on #140
Yes - for most analyses I need the trees rooted so they get rooted by the outgroup pretty early on.

[2021-03-31 02:03] josephwb commented on #140
Ok, I got good progress on this today. Still dealing with edge cases; sometimes getting unanticipated results with nested polytomies.

To be clear, with this _sample polytomies until you are left with a binary tree_ approach there is the possibility of losing large swathes of a tree. The way things work now (not yet pushed) is that 2 random lineages of every polytomy are selected to remain (the re

[2021-03-31 07:25] stubbsrl commented on #140
Yes, this loss of an entire tree due to low backbone resolution is a possibility. I have thought about this and to not lose too many trees I would use a fairly low cut-off for collapsing nodes. From there, I guess having trees to spare would also be helpful. It does seem a lot of data sets are moving in this direction.

I hadn't thought about "intelligent" sampling. Sounds cool, but I wonder if it

[2021-03-31 19:12] stubbsrl commented on #140
Oh this is very exciting! I will test it out on some trees and let you know.

Thanks for getting to this so quick and spending so much time on it!

[2021-04-01 14:49] stubbsrl commented on #140
Well there are some odd things happening.

First a question: The random taxa that is kept in a polytomy is this changing for every tree?

I set a seed for the runs so the errors are reproducible (nice feature btw).

There are two different types of problems I have seen. For one, with seed 12345 the program produces two trees with identical five taxa and then ends with the error:

terminate called

[2021-04-01 15:46] josephwb commented on #140
Ok, thanks for this; this is very helpful.

Yes, the taxa sampled are random for each tree. As each tree is processed separately, there is no knowledge of what overlap there may be in taxa involved in polytomies across trees. If you _do_ have that information, you can use `pxrmt` to specifically remove those terminals.

Looking at tree 4 now I see the result should be a 3-terminal tree (OG, and 2

[2021-04-01 15:52] josephwb commented on #140
hey @stubbsrl I just pushed a fix. Can you please pull and compile again to check? It runs correctly on those trees above (or, at least it does not die a horrible death).

[2021-04-01 16:08] stubbsrl commented on #140
Great! It’s after 6pm here and I’ve left my house but I’ll get to this ASAP  (which may not be until tomorrow I’m sorry!) and let you know.

[2021-04-02 08:05] stubbsrl commented on #140
The program just ran flawlessly on ~1600 gene trees, all with varying amounts of troubled polytomies. It was glorious.

Thanks for all your work!

[2021-04-02 13:45] josephwb commented on #140
So glad it worked. I was afraid there would be remaining edge cases where things failed (there undoubtedly are). Rooted trees with a polytomy at the root are tricky because they look like unrooted trees.

The "order of operations" bit makes sense, i.e., it is expected behaviour. If you publish with this please include the ordering in case someone wants to replicate it. Since you noted you were dea

[2021-04-02 13:45] #140 closed

[2021-04-15 20:20] RhettRautsaw opened #142 "pxnj and pxupgma tree inference"
Running a neighbor joining tree on the same alignment in Geneious vs. phyx results in completely different trees. The tree in Geneious makes sense....the tree from pxnj is completely unexpected. Same with upgma.

[2021-04-15 22:21] josephwb commented on #142
Can you please post input data and expected results?

As the [wiki](https://github.com/FePhyFoFum/phyx/wiki/Program-list) states the nj and upgma programs are not intended for publishable results, and the edge lengths are reported in numbers of substitutions (rather than the standard expected number of substitutions per site) because the author was recreating the original formulation.

Still, I'll

[2021-04-16 08:26] jfwalker commented on #142
Before diving in too much @josephwb , I may be able to answer this. When making a distance matrix this version treats indels as being a state themselves, which is not in any modern used software I'm aware of. When missing data exists that will cause a deviation from others. Also most of the newer neighbor joining tools will do a distance correction with something like JC etc. This version was main

[2021-04-16 20:59] RhettRautsaw commented on #142
Sounds like you know what is going on and don't really need my data. UPGMA and NJ have indeed fallen out of standard practice and I did not have any intention of publishing these trees, but they are still useful for quick examination and even identification of highly divergent sequences indicative of poor sequences in your alignment. Despite this, there are few programs available to actually make

[2021-04-16 22:19] josephwb commented on #142
Please go ahead and upload input/expected output.

[2021-04-17 03:06] josephwb commented on #78
Ugh this can never be closed. But the [wiki](https://github.com/FePhyFoFum/phyx/wiki/Program-list) is _currently_ up-to-date. I've added an identical [markdown file](https://github.com/FePhyFoFum/phyx/blob/master/doc/Programs.md) to the doc directory for off-line browsing (this is manually synced, so;a hassle). Finally, I put a markdown table with a short description for each program in the README

[2021-04-17 03:12] josephwb commented on #78
I suppose the [pdf](https://github.com/FePhyFoFum/phyx/blob/master/doc/Phyxed_Manual.pdf) should be brought up to date too... Need to find an automated way to generate this (or, deprecate it?).

[2021-04-17 23:35] josephwb commented on #55
Welp, 4 years later this is fixed with ec5527541308df38c13cbb6be955cdb89538356f. Yay?

[2021-04-17 23:35] #55 closed

[2021-04-18 15:08] kloetzl commented on #55
Better late than never. Thanks!

[2021-04-18 16:02] josephwb commented on #46
Welp I cannot recreate this problem now, except with extinct mac `^M` line endings. Maybe the C++ standard supports this now? Gah, and I just found a "solution"...

Anyway, closing until it surfaces again.

[2021-04-19 14:07] RhettRautsaw commented on #142
In particular, sequences 66, 67, 44, 45, 94, and 95 are outgroups and should group together.
[phyx_help.zip](https://github.com/FePhyFoFum/phyx/files/6336640/phyx_help.zip)

[2021-04-19 19:49] josephwb commented on #46
With b33176126399203c9911fda58760288739775c6a we should not run into this problem again. Files will be read in from whatever format, but written in native format.

Closing this (on commit no. 1234 ฅ(^◕ᴥ◕^)ฅ)

[2021-04-19 19:49] #46 closed

[2021-04-22 11:03] nileshpatra opened #143 "pxaa2cdn does not work anymore on the example files"
Hi,

On doing analysis on the example data provided, pxaa2cdn does not output any files, and finishes with error:

[code]

Version 1.01 however outputs the required output. Please look into it. And please consider changing the example data for this one *if* it's a problem with input itself.

[2021-04-22 11:49] nileshpatra opened #144 "Tests fail on i386"
[code]

This was passing in version 1.01, please consider fixing this regression

[2021-04-22 11:54] josephwb commented on #143
I will look into this. The sequences are definitely _not_ multiples of 3. The question is whether this necessarily needs to be the case...

[2021-04-22 12:31] josephwb commented on #143
@jfwalker should we require the nucleotide alignment to be a multiple of 3 in length, or do something with "extra" nucleotides (i.e., ignore)?

[2021-04-22 12:46] jfwalker commented on #143
Hmmm...That's a good question. I think in general for peace of mind it's good to make sure they are in length of three as sort of a double check that the AA sequence corresponds to the nucleotide. We could have some type of override option where it trims the excess but I'm not sure how often or for what reasons that issue would arise.

[2021-04-22 13:40] josephwb opened #145 "Need to run tests on i386"
Tests are failing on i386 ( #144) but travis does not currently run on this system.

[2021-04-22 13:59] nileshpatra commented on #145
@josephwb `pxbdsim` gets fixed on building with `-ffloat-score` but the problem with `pxstrec` still remains, i.e.:

[code]
This one. Somewhere there's weirdly enough an overflow happening.

[2021-04-22 14:02] josephwb commented on #144
Erm the bdsim test is failing because of rounding errors at the _15th and 16th_ decimal places.

This no doubt has to do with the [change made to edgelength precision](https://github.com/FePhyFoFum/phyx/commit/03cfa16e899e69e1d3199c0646f9286a6c17e61d).

[2021-04-22 14:03] josephwb commented on #145
Thanks for the update @nileshpatra. I am working on this.

[2021-04-22 14:06] nileshpatra commented on #144
@josephwb
Yeah, that gets fixed on building with `-ffloat-score` as shared [here](https://github.com/FePhyFoFum/phyx/issues/145#issuecomment-824866619) as well

[2021-04-22 14:29] josephwb commented on #144
@nileshpatra did you mean `-ffloat-store`?

[2021-04-22 14:31] nileshpatra commented on #144
@josephwb yeah, apologies for the typo :P

[2021-04-22 15:02] josephwb commented on #145
Oof AFAIK travis does not ([and has no plans to](https://github.com/travis-ci/travis-ci/issues/986#issuecomment-124141683)) support 32-bit machines. I gather that it can be accomplished with some fancy-pants [docker](https://stackoverflow.com/a/58409646/3389183) shenanigans, but I know nothing about that.

[2021-04-22 15:13] nileshpatra commented on #145
I was testing this locally with a 32-bit chroot, if that helps

[2021-04-22 16:09] josephwb commented on #143
I can confirm that the check ("not a multiple of 3") did not exist in v1.01.

I'm actually not sure why it did not crash, because it would try to add nucleotides that did not exist i.e., would refer to index positions outside of the string length. Weird. In at least one example I tried with only 1 nucleotide in the last codon it found nothing for the second nucleotide but somehow found a third nuc

[2021-04-22 16:54] josephwb commented on #143
@jfwalker you came up with the (Drosophila) example data. Do you know how 15 (out of 19) nucleotide sequences are not a multiple of 3? Is this likely to happen?

[2021-04-22 20:16] josephwb commented on #143
@nileshpatra I replaced the example with one that works. Thanks for pointing that out.

[2021-04-22 20:16] #143 closed

[2021-04-22 20:24] nileshpatra commented on #143
Many thanks! \o/

[2021-04-22 20:24] josephwb opened #146 "pxtlate doesn't care if seq length is not a multiple of 3"
Found investigating #143. `pxaa2cdn` won't work if nucleotide sequence lengths are not a multiple of 3 (codons). However, `pxtlate` will translate as much as it can, and just disregard any "extra" nucleotides. Basically, I was unable to construct an example dataset for `pxaa2cnd` by using `pxtlate`, which is worrying,

Seems like both programs should share a policy: _either_ enforce multiples of 3

[2021-04-23 07:34] jfwalker commented on #146
@josephwb I feel like this is something we talked about like 5 years ago and decided that it didn't need to be in multiples of three, but now I pretty strongly feel like it should. With all the automated pipelines that exists, the more checks the better.

[2021-04-24 02:39] josephwb commented on #146
Thank you @jfwalker. I will put an enforced check. If necessary, I can put in a `-f --force` _do-it-anyway_ option for both.

[2021-04-24 03:13] josephwb commented on #144
Hey @nileshpatra. I'm not sure how to go about addressing this; I'm not even sure about how to test this (beyond emulation). Do you really want to run phyx on i386? If so, I am happy to dig deeper. I only ask because this is the first request we've had.

[2021-04-24 06:06] nileshpatra commented on #144
On Sat, 24 Apr, 2021, 8:43 am Joseph W. Brown, ***@***.***>
wrote:

I will be happy to test this for you

Yes. I'm not a user of this package, but we maintain phyx as a Debian
package. Debian officially supports i386 - and if it fails on i386, it
won't get to the next release.

You'll probably have more such requests from me in the future ;-)

[2021-04-24 14:48] josephwb commented on #144
Thanks for the clarification.

So, with something like `-ffloat-store`, will you handle that on your end? I imagine I could set flags during configuration, but if you have in mind to deal with it I won't bother.

[2021-04-24 14:51] nileshpatra commented on #144
I will handle it, no need to modify anything to add it

[2021-04-25 03:19] josephwb commented on #146
Should also consider removing terminal (stop) codons here, as they can be a pain.

[2021-04-27 14:10] josephwb opened #147 "Barfs on Nexus file with separate TAXA and CHARACTER blocks"
Need to support both one (DATA) block and two (TAXA, CHARACTERS) blocks. The latter are used, for example, when chimeric taxa are used.

[2021-04-27 15:27] josephwb commented on #147
Fixed with 6b4069a.

[2021-04-27 15:27] #147 closed

[2021-04-27 15:39] josephwb opened #148 "pxlssq -m does not work in conjunction with -i"
Some properties can be returned for each sequence by using the `-i` flag. For some reason the option to get the proportion of missing data (`-m`) does not work this way (it just returns the proportion for the alignment as a whole).

[2021-04-27 17:28] josephwb commented on #148
Fixed with c709552.

[2021-04-27 17:28] #148 closed

[2021-04-27 19:24] josephwb commented on #144
Hey @nileshpatra I am finding difficult to diagnose things since I cannot even recreate the issue.

My _hunch_ is that it has to do with `nlopt` dependency, since `pxstrec` (alone) uses it heavily. I am not smart enough to know whether there are flags to provide during nlopt compilation to _i386-ify_ things?

[2021-04-27 20:07] nileshpatra commented on #144
On Wed, 28 Apr, 2021, 12:54 am Joseph W. Brown, ***@***.***>
wrote:

Can you try to create a chroot, or maybe use qemu to recreate it?

My *hunch* is that it has to do with nlopt dependency, since pxstrec

Admittedly, I'm not aware of any such option myself :-(

[2021-04-27 20:50] josephwb commented on #136
I believe this has to do with missing data, which are not supported. When we count the (valid) characters, the row totals get messed up, so we are not even doing a valid chi-square test anymore. This should be fixed with 7457e45.

[2021-04-27 21:19] josephwb commented on #144
Ok I will _try_ qemu (with Ubuntu 16) but no promises ;)

[2021-04-27 21:22] josephwb commented on #136
Changing this issue to reflect that missing data are not supported.

Can either: 1) through out columns with missing data or 2) something smarter (divide each amongst code states)?

[2021-04-28 10:02] bioinfowheat opened #150 "mean bootstrap support of trees in file"
Hello,

I would like to filter a file of 1000 trees, such that any tree having mean boot strap support (mean across nodes) < threshold, would be removed. One way to do this is to just include mean bootstrap support per tree, in one of your summary commands of trees in a file. But I'm not sure what pxlstr includes. But it would be nice to filter directly, since densitree plotting is much better whe

[2021-04-28 11:22] josephwb commented on #150
Do you have some example input and output?

`pxcolt` can collapse _nodes_, but you want to flag _trees_, yes?

[2021-04-28 11:27] bioinfowheat commented on #150
yup, trees.

just three tress, where the mean bootstrap values per tree vary (means = 80,75,50). I’d like to remove the tree if mean bootstrap of 50.

[2021-04-28 11:49] josephwb commented on #150
I understand, but could you please provide input files?

On Wed., Apr. 28, 2021, 07:27 bioinfowheat, ***@***.***>
wrote:

[2021-05-01 02:32] josephwb opened #152 "pxlssq should not sort taxon labels"
1. things should be reported in the order that they exist in the file
2. things like `-c` _do_ report in order, but labels are sorted. so, wrong.

[2021-05-01 02:42] josephwb commented on #152
Fixed with 47598154899cb883b050ecf8e6eed4d1bd33b7f2

[2021-05-01 02:42] #152 closed

[2021-05-01 23:03] josephwb opened #153 "pxs2nex should make Nexus-compliant sequence names"
Things like space confuse things e.g. PAUP* thinks a space separates the name and the sequence.

Either 1) substitute '_' for ' ', or 2) quote strings.

[2021-05-01 23:06] josephwb commented on #153
Some smart person already wrote the code to do this [here](https://github.com/FePhyFoFum/phyx/blob/master/src/utils.cpp#L632-L646).

[2021-05-01 23:10] josephwb commented on #153
Hrm it is [already using it](https://github.com/FePhyFoFum/phyx/blob/master/src/seq_utils.cpp#L312-L314)? Maybe my test data are bad...

[2021-05-01 23:24] josephwb commented on #153
Fixed with fbfef0d. Went with `get_valid_nexus_label()` rather than what was being used (`get_safe_taxon_label()`), as the latter does substitution, which could break matching across files.

[2021-05-01 23:24] #153 closed

[2021-05-02 01:58] josephwb opened #154 "pxlssq gets Nexus labels wrong if contiain spaces"
Related to fbfef0d. When read in by `pxlssq`, the label is terminated at the first space (token). Can be seen with:

[code]

Example:
[code]
is reported as:
[code]
It also obviously messes up character state counts, number of characters, whether it is aligned, etc. Oof.

TODO: if label begins with a quote, read label until closing quote. This can get more complicated when the label itself contains

[2021-05-02 02:00] josephwb commented on #154
Involves both `read_next_seq_from_stream()` and `read_interleaved_nexus()`.

[2021-05-02 03:38] josephwb commented on #154
First one fixed with 496bea7

[2021-05-02 04:16] josephwb commented on #154
And the second bf78f55

[2021-05-02 04:16] #154 closed

[2021-05-03 18:41] josephwb opened #155 "Nexus writer: INTERLEAVE=NO is not valid"
The keyword INTERLEAVE is a switch to turn on. INTERLEAVE=NO is thus not supported, and any program that uses the [NCL](https://github.com/mtholder/ncl) (e.g., iqtree) will error. MrBayes, however, [allows interleave=yes and interleave=no](http://mrbayes.sourceforge.net/Help/format.html), and [this doc](http://wiki.christophchamp.com/index.php?title=NEXUS_file_format) suggests that it is valid usa

[2021-05-03 18:57] josephwb commented on #155
Trying to [get feedback from the original/NCL authors](https://twitter.com/j0sephwb/status/1389288001621069825) on what is best to do. I think ideally NCL would support both forms, but they might be hesitant to do something that was not expressed in the original paper (which is a simple switch).

[2021-05-03 19:02] josephwb commented on #155
FWIW on ingest phyx supports both flavours. So it is only export that we need to worry about.

[2021-05-03 19:09] josephwb commented on #155
Hrm, to be on safe side just removed `INTERLEAVED=NO` from `write_nexus_alignment` with eea8dfc.

[2021-05-03 19:09] #155 closed

[2021-05-11 12:36] josephwb opened #156 "Add SoftWipe check"
Paper [The SoftWipe tool and benchmark for assessing coding standards adherence of scientific software](https://www.nature.com/articles/s41598-021-89495-8)

Code is [here](https://github.com/adrianzap/softwipe/wiki).

[2021-05-11 14:49] josephwb commented on #144
Sorry, I have a million things I need to get done first. This tab never closes, tho :)

[2021-05-11 15:16] nileshpatra commented on #144
@josephwb No worries!
Just for future reference or whenever you get time, I'm adding this information -- in case if it might help:

I added two lines to get what kind of file is in the output of pxstrec test

[code]

And in i386 test, I get many nan values, so there's some kind of underflow happening. Here's the output that I get:

[code]

[2021-05-11 15:19] josephwb commented on #144
Ok, that seems helpful. Thanks.

[2021-05-11 21:38] josephwb commented on #156
Preliminary score is 5.5/10

[2021-06-13 14:59] josephwb commented on #156
Addressed a ton of stuff with #157. More to do (couldn't get clang to work with programs that used armadillo, but will look back into this). Anyway, learned a lot about how bad of a programmer I am ٩(◕‿◕｡)۶

[2021-06-24 15:17] max1c opened #158 "Release v1.2.1 not available in bioconda?"
Can this please be added?

[2021-06-24 16:36] josephwb commented on #158
We are not doing anything ourselves with bioconda.Perhaps @druvus can help? AFAIK updates were supposed to be [handled by the Bioconda bot](https://github.com/FePhyFoFum/phyx/issues/60#issuecomment-717367881).

BTW a new release will be, er, released imminently, so it would be good to know what the issue is with the updating.

[2021-06-24 17:36] max1c commented on #158
Yes, it looks like the bioconda bot is not picking them up. Hopefully someone can take a look.

[2021-07-01 16:08] Cactusolo opened #159 "pxrmt Segmentation fault with multiple OGs, and failed to redirect via pipe issues"
I have two issues with `pxrmt` function:

1. When outgroup more than one, then raising "Segmentation fault (core dumped)"
[code]

2. Output to a file failed and always STOUT
[code]
The tree file was print to terminal screen and out file "test.tre" is empty. and I also tried with  redirect `>test.tre` also empty.

Please help and me know if you need a test data. Not sure, if I need to update to the

[2021-07-01 16:42] josephwb commented on #159
Sorry for the trouble. That version is a bit old (latest release is v1.2.1, and if the master branch is v1.3). So please try upgrading. If it still fails, please provide input that we can troubleshoot.

[2021-07-02 11:19] Cactusolo commented on #159
@josephwb it resolved after upgrade to v.1.3. Many thanks!

One small comment that, I found that the tip names in the  output tree file containing single quote [ ' ], which may cause problem for downstream tip manipulation. For example, if won't work for relabel the tips, unless I remove all the single quote [don't have this my original tree file], or providing correspond name mapping file with ti

[2021-07-02 13:29] josephwb commented on #159
Hrm could you please provide an example (input, output, and example of a problematic label)? Quotes are only ever introduced if a label contains a newick-illegal character. But such labels should (almost) always have 2 quotes.

[2021-07-02 13:53] Cactusolo commented on #159
[code]

[2021-07-02 17:54] josephwb commented on #159
Thanks for that. ATM we are quoting any label that contains a non-compliant _Nexus_ character. `-` happens to be illegal for Nexus, but not for newick. I see your point about matching labels downstream. I will figure out how to handle things more accurately.

[2021-07-02 19:07] josephwb commented on #159
@Cactusolo Ok things should work for you now. I may take out the compliancy-quoting, since almost no users will be aware of which characters are illegal.

FWIW:
[code]

[2021-07-02 19:07] #159 closed

[2021-07-06 14:46] HeatherKates opened #160 "Allow for adjustment of precision/sig digits"
Hi! It would be great if there were an option for phyx programs to allow for user-specified prevision in output values (I'm thinking specifically of branch lengths). I have two issues that arise from the default - 1) The output trees are not always directly comparable with the input if it was generated from another program (this causes a problem when trying to search for subtrees, etc.), and 2) Ve

[2021-07-06 15:38] josephwb commented on #160
The significance is hard-coded; I believe we matched the RAxML code. I am also not thrilled by it (for the same reasons you state). I have been thinking of a way to keep/process the edge lengths as strings.
I will figure this out, but it is not a simple fix, and will take some time.

[2021-07-09 12:59] josephwb commented on #144
Sorry I have not yet gotten to this. But there was a major overhaul recently. It is probably useful to pull/rebuild to see if additional tests now fail ＼(〇_ｏ)／

[2021-07-09 13:31] josephwb commented on #142
I've removed these programs from the default build until/if they are fixed.

[2021-07-09 13:53] nileshpatra commented on #144
Did so, this is what I get:

[code]

[2021-07-09 14:00] josephwb commented on #144
Thanks for checking. I'm glad nothing new was broken!

[2021-07-09 14:04] josephwb commented on #49
I don't think this is worth it. I've updated the README to give one-liner summaries of all the available programs. Together with the wiki (the manual is shite) this should be sufficient.

[2021-07-09 14:04] #49 closed

[2021-07-09 14:06] josephwb commented on #39
Closing without an example.

[2021-07-09 14:06] #39 closed

[2021-07-09 14:09] josephwb commented on #52
The only thing remaining here is the processing of annotated nexus files e.g. those produced by figtree/treeannotator.

[2021-07-09 14:11] josephwb commented on #73
This has been done for quite some time.

[2021-07-09 14:11] #73 closed

[2021-07-09 14:13] josephwb commented on #37
Hrm closing this until it arises again (I am unaware of an example).

[2021-07-09 14:13] #37 closed

[2021-07-09 14:15] josephwb commented on #78
Wiki and README have been recently updated. Closing since "keep doc up-to-date" is a perennial problem.

[2021-07-09 14:15] #78 closed

[2021-07-09 17:54] josephwb commented on #96
There does not seem to be a way to address it with `getopt_long`, so closing and expecting people to call things correctly. Seems like a _very_ unlikely case anyway.

[2021-07-09 17:54] #96 closed

[2021-07-09 21:15] josephwb commented on #59
`pxrlt` addressed with 46e6311027e25f3905d56b6d6daf0e713e90981c, and `pxrls` with 58b71b617c3cbddf27a3425eb48ca0fc439ea449 ... four years later...

[2021-07-09 21:15] #59 closed

[2021-07-10 15:14] nileshpatra opened #161 "Why not vendor pxupgma and pxnj?"
Hi,

The compilation commands for pxupgma and pxnj are given in src/Makefile.in, however these binaries are not built on the normal build. Is there a specific reason for doing that?
If not, please consider applying the patch:

[code]

[2021-07-10 15:19] nileshpatra commented on #161
On a related note, we have more patches [here](https://salsa.debian.org/med-team/phyx/-/tree/master/debian/patches) IMO, they are appropriate for the upstream as well. If deemed appropriate, please consider to apply

[2021-07-10 16:29] josephwb commented on #161
Those programs were [purposefully removed from the default build](fd445c32b9b77d47a5153e7111341f5b4a88b8a5) because they are meant more for instruction than publication-worthy analysis. These may be removed entirely.

I am looking at your other patches now.

The addition of `$(CXXFLAGS)` in the Makefile.in doesn't seem to do anything since it is not defined anywhere. I suppose we should enable thi

[2021-07-10 17:15] nileshpatra commented on #161
On Sat, 10 Jul 2021 at 21:59, Joseph W. Brown ***@***.***>
wrote:

Fair.

Yeah, that's passed by debhelper, and specific to debi and set while
building the value of it is this:

$ dpkg-buildflags --get CXXFLAGS
-g -O2 -fdebug-prefix-map=/home/nilesh=. -fstack-protector-strong -Wformat
-Werror=format-security

Here the -fdebug-prefix-map is for reproducible builds. It does not add a
lot of utility

[2021-07-10 17:31] josephwb commented on #161
Ok I will get to this later today. Thanks for the help.

[2021-07-10 20:25] josephwb commented on #161
Hey @nileshpatra. I did not draft the original makefile. It _seems_ to me that the `OPT_FLAGS` we use is standing in for `CXXFLAGS`. Would it work for you if I renamed the former to the latter? That would mean that any CXXFLAGS you pass will be _appended_ to the ones we typically have.

[2021-07-10 20:34] josephwb opened #162 "compilation seems to hang on main_strec.cpp"
Not sure why this is happening. It was extreme enough that travis would bail and report failure. Builds locally and on GHA, tho.

[2021-07-10 20:43] nileshpatra commented on #161
It likely would, consider doing so please :)

[2021-07-10 20:51] josephwb commented on #161
I'm having trouble trouble merging our hardcoded flags with those passed in with configure, so for the moment `CXXFLAGS` is its own thing as you had originally suggested (as of f655915). Please let me know if this works. I will clean things up later.

[2021-07-10 21:01] nileshpatra commented on #161
I will test tomorrow and let you know

[2021-08-11 17:37] josephwb opened #163 "main_strec.cpp is taking a _looooong_ time to compile"
Almost certainly from something I did. It takes so long that travis CI would time out and fail (part of the reason we are now using GHA). I will look into this.

[2021-08-11 17:40] josephwb opened #164 "new program: pxuncat"
The reverse of `pxcat` (concatenating sequences. Using some partition file (RAxML-flavour, or Nexus?) decompose an alignment into separate alignments (i.e., genes).

[2021-08-14 18:38] josephwb opened #165 "pxlssq does not properly read phylip from stream"
Other formats work, but not phylip for some raisin:
[code]
And yet is works on a phylip _file_:
[code]

[2021-08-14 19:26] josephwb commented on #165
This is more general: phylip fails when piped to one of the alignments converts (pxs2*) as well. In this latter case, only 1 (the first) sequence is recognized and written to file.

[2021-08-14 22:31] josephwb commented on #165
Gah I am stumped on this one... For the moment try to avoid piping phylip format (the only one that seems to behave different in a file vs. a stream). I suspect it has something to do with checking which of the _Baskin-Robbins number of phylip sub-formats_ a file conforms to (i.e., there is some peeking ahead in the stream that may screw things up).

[2021-08-15 00:50] josephwb commented on #165
Ok. The culprit indeed appears to be `is_complicated_phylip` (the function which tries to determine which (_of a plethora of_) format flavours is involved i.e., when I comment this out (on a 'vanilla' phylip file, so no fancy-pants reading is necessary) things are processed properly. Geez, I was _slightly_ proud of how it could handle everything thrown at it... But this seems to be a stream-specif

[2021-09-24 06:09] FuXiaogang-KIB opened #166 "a strange thing"
Only part of my genes can fulfill my expectations. I don't know why

[2021-09-24 06:33] FuXiaogang-KIB commented on #166
[List.txt](https://github.com/FePhyFoFum/phyx/files/7223276/List.txt)
[gene1_trimAl.txt](https://github.com/FePhyFoFum/phyx/files/7223294/ge
[gene2_trimAl.txt](https://github.com/FePhyFoFum/phyx/files/7223376/gene2_trimAl.txt)
ne1_trimAl.txt)

[2021-09-24 11:15] josephwb commented on #166
I do not understand the problem. Why were the results incorrect? What were the results? What was the command you used? Also, the upload of gene1_trimAl.txt failed.

[2021-09-24 12:15] FuXiaogang-KIB commented on #166
[gene1_trimAl.txt.txt](https://github.com/FePhyFoFum/phyx/files/7225500/gene1_trimAl.txt.txt)
[gene2_trimAl.txt.txt](https://github.com/FePhyFoFum/phyx/files/7225512/gene2_trimAl.txt.txt)
[name_List.txt](https://github.com/FePhyFoFum/phyx/files/7225518/name_List.txt)
I'm sorry I wasn't clear enough.Gene1 can removes unwanted sequences normally, but other genes, such as Gene2, failed. I dont Know t

[2021-09-24 12:26] josephwb commented on #166
I'm sorry but I still do not understand what went wrong.

What is wrong with the gene2 results? What were they? What were you expecting? What command did you use?

[2021-09-24 12:34] josephwb commented on #166
This is what I get when I examine your files:

Gene1 (original):
[code]
Gene1 (processed):
[code]
Gene2 (original):
[code]
Gene2 (processed):
[code]

[2021-09-24 12:42] josephwb commented on #166
I note that gene2_trimAl.txt seems to have Windows line breaks:
[code]
Gene2 runs fine for me (I think? I still do not know why your results are considered wrong). However, you can convert the line breaks and retry things. You will need the program `dos2unix` which on linuc you get with:

[code]
then do:
[code]
You can check that things worked:
[code]
Finally, retry your `pxrms` command.

[2021-09-24 12:44] josephwb commented on #166
You can also run Gene2 through `pxlssq`; if it fails there, it is almost certainly the line breaks:
[code]

[2021-09-24 12:48] FuXiaogang-KIB commented on #166
Dear Joseph. Thanks a lot for your meticulous reply! I will try again.

[2021-11-08 17:06] HeatherKates opened #167 "pxtlate detects AA when DNA is present"
[temp.txt](https://github.com/FePhyFoFum/phyx/files/7498728/temp.txt)

I am getting the error: Error: incorrect alignment type provided. DNA was expected, but AA detected. Exiting.

If I excerpt any single sequence from the fasta, I don't get the error, so I thought it might be related to line breaks or some other character I can't see. I have tried removing whitespace and dos2unix (the text file

[2021-11-08 18:43] josephwb commented on #167
Thanks for reporting that. It is interpreting the Ns as amino acids, so every character seems to be an amino acid. I will fix this. In the meantime, if you replace `N` with `-` like [this](https://github.com/FePhyFoFum/phyx/files/7499328/temp2.txt) then things will work.

[2021-11-08 19:02] josephwb commented on #167
This should be fixed with 98727b7. Please let me know if this works for you, and close if you are satisfied.

[2022-01-24 06:37] tillea commented on #144
Hi,
I wonder whether it makes finally sense to declare phyx as 64 bit only.  This probably reflects its real use case.  In Debian packages are build on older architectures and while this has no practical use cases in many cases like bioinformatics it sometimes helps to spot issues inside the code.  If we can be sure that this is not the case here it might help to state clearly that 32 bit architec

[2022-02-02 16:37] stubbsrl opened #168 "duplicated species in clade groupings with pxbp"
I'm using pxbp version 1.3 and the command pxbp -t rs_test_rr.trees -o rs_test.txt. Trees are rooted.

The output (full output attached) has OUTGROUP repeated multiple times in a clade. Additionally, OUTGROUP OUTGROUP is repeated on multiple lines but with different counts.

I was getting similar results with my full dataset so I have attached a simplified subset of trees and the output.

100 tree

[2022-02-19 19:57] tillea commented on #144
Could you please confirm whether restriction to 64 bit only makes sense or not?

[2022-03-08 01:28] jbernot commented on #146
+1 for "remove extra junk" option. I'd love that feature. I am running into an issue were nucleotide alignment involves 191 codons, but protein alignment involves 190 amino acids. Skipping.

[2022-04-14 13:07] emollier commented on #144
Hi, about [the remaining _nan_ error in _pxstrec_](https://github.com/FePhyFoFum/phyx/issues/145#issuecomment-824866619), I believe I tracked it down to _StateReconstructor::calculate_reverse_stochmap_ and to the use of _-ffast-math_ build option.  When I build _src/state_reconstructor.cpp_ with _-ffloat-store_ in place of _-ffast-math_, then the remaining test item pass successfully on my end on

[2022-04-14 14:16] nileshpatra commented on #144
Since it builds for us now, I am closing the issue.

[2022-04-14 14:16] #144 closed

[2022-06-27 01:53] Galaxy-228 opened #169 "How to install phyx on linux without root access ?"

[2022-06-27 02:39] josephwb commented on #169
By default it installs deep in the system (hence, root access). You can instead install it somewhere else that does not require such privileges. Normally this is your home directory. Try this:
[code]
HTH.

[2022-06-27 03:06] liujie19932288 commented on #169
Thank u so much!!!
I have tried 'make distclean ....' , but it doesn't work in my server .
Is it feasible if I install with Conda ? (Version：phyx = 1.1).

[2022-06-27 03:13] Galaxy-228 commented on #169
Thank u so much!!!
I have tried 'make distclean ....' , but it doesn't work in my server .
Is there anything wrong if I install with Conda ? (Version：phyx = 1.1).

[2022-06-27 11:08] josephwb commented on #169
Well, some bugs have been fixed since then, but it should be good?

[2022-06-27 11:12] josephwb commented on #169
What happens if you skip the `make distclean` step. It should still work.

I would recommend communicating with the administrator to get the most recent version installed (v1.3).

[2022-07-24 17:04] VaneMorales opened #170 "pxrlt and pxrls only change the final name on the list"
Hi!
I am new to using this tool and I have been trying to change the names on a tree and a sequence file but every time I try I get the same result. The only name that changes is the last one on the list (Senecio otites V03). Does anyone know why and I can solve this?
![Tree_new_names](https://user-images.githubusercontent.com/109916446/180658184-b22ccfec-ded8-4fe2-9a60-1a7c091a5503.jpg)
![Aligmen

[2022-07-24 18:03] josephwb commented on #170
Hi @VaneMorales. Can you please provide example input files and commands you are using? I will take a look at it.

[2022-07-25 14:11] josephwb commented on #170
Ok, I will look at this today. Sorry for the problems.

[2022-07-25 18:35] josephwb commented on #170
The problem is it is not matching the names in the file. You can use the verbose option (`-v`) to get more information:
[code]
But those names _are_ in the tree, so I will have to track down what is going wrong with the matching.

[2022-07-25 19:04] VaneMorales commented on #170
Many thanks for looking at this. I was thinking it was because the software added a space after the name when the alignment is exported (*.phy) , but the space does not appear on the tree or in the input files (current and new names of the sequences). It's not about the length of the names used either.

[2022-07-27 13:53] josephwb commented on #170
Hey @VaneMorales. Sorry about the delay on this. I have a chunk of time later today when I'll tackle this... or die trying (^_-)≡☆

[2022-07-29 14:50] VaneMorales commented on #170
Thank god you are not dead!!! I was starting to be worried. Many thanks for looking into this and for pointing the solution to my problem (I have had several issues as I am running these analyses in Ubuntu but I had managed to fix them until now), so I am very grateful for your help :)

[2022-07-29 20:17] josephwb commented on #170
(>ᴗ•)

[2022-07-29 20:17] #170 closed

[2022-08-12 01:56] fkyeeb opened #171 "pxrlt and pxrmt doesn't output tip name with "-" correctly"
for example if the tip name is "Van-royena_castanosperma", the tip name in the output tree will be "'Van-royena castanosperma'".
The underscore will be removed and single quotation marks will be added to either side of the name.

[2022-08-12 02:08] josephwb commented on #171
Can you please provide input files and expected output?

[2022-08-12 02:19] josephwb commented on #171
Actually, this is a "feature". Names that contain nexus-illegal characters (()[]{}/\,;:=*'"`+-<>) should be single-quoted. Underscores are considered as space-characters in unquoted labels, and so are replaced by literal spaces in the quoted label.

Does that make sense.

[2022-08-12 02:49] fkyeeb commented on #171
Yes! Thank you. Then what should I do if I would like the tip name to not change after using phyx, when the tip name has to contain Nexus-illegal characters?

[2022-08-12 10:51] josephwb commented on #171
Any name you want to conserve literally, just surround with single quotes. So in your example above, replace:

Van-royena_castanosperma

with

'Van-royena_castanosperma'

and everything should work as expected. Sorry for the headache; some programs are Nexus-compliant, others partially so. :)

[2022-08-12 21:30] fkyeeb commented on #171
Thank you for helping!

[2022-08-12 21:30] #171 closed

[2022-08-19 14:36] NatJWalker-Hale opened #172 "pxaa2cdn -r not working as expected"
Hey Joseph,

The new `-r` option to pxaa2cdn appears to not work as expected. Here is a little example case:

[test.cds.fa.txt](https://github.com/FePhyFoFum/phyx/files/9382975/test.cds.fa.txt)
[test.pep.fa.txt](https://github.com/FePhyFoFum/phyx/files/9382976/test.pep.fa.txt)

`pxaa2cdn -r -a test.pep.fa.txt -n test.cds.fa.txt` gives:
`Error: for taxon '1' nucleotide alignment involves 3 codons,

[2022-08-19 14:42] NatJWalker-Hale commented on #172
Having a peak, I think (though could be wrong), that this is because there is no check for `-r` while checking for the mismatch of lengths. I guess that will have to check if they're off by one if `-r` is invoked. I'll try fiddle with it my end and submit a PR if it works, unless you get to it first.

[2022-08-19 14:52] josephwb commented on #172
Can confirm. Sorry about that. I will have a look later today. It should take a few minutes, but I am heading out the door.

[2022-08-19 14:57] josephwb commented on #172
Ok I see what is going on. Be back soon.

[2022-08-19 15:30] josephwb commented on #172
Should be fixed with 9f15c7ae6f2723701b158514dfdb9eb7427064e3

[2022-08-19 15:39] NatJWalker-Hale commented on #172
That works! Although I note that it makes the codon count in the error message for mismatching lengths off by one, e.g.

[test2.cds.fa.txt](https://github.com/FePhyFoFum/phyx/files/9383365/test2.cds.fa.txt)

`pxaa2cdn -r -a test.pep.fa.txt -n test2.cds.fa.txt`
`Error: for taxon '1' nucleotide alignment involves 4 codons, but protein alignment involves 2 amino acids. Skipping.`
`Error: for taxon '2

[2022-08-19 15:51] josephwb commented on #172
Erg yes I'll fix the warning.

[2022-08-19 16:06] NatJWalker-Hale commented on #172
legend, thanks!

[2022-08-19 16:06] #172 closed

[2022-10-20 23:53] kateuckele opened #174 "strange behavior with pxbp on computing cluster"
Pxbp version 1.3. I believe phyx was binary compiled, but I was not the person who did this. All the phyx commands that I have used up until now have not produced any issues, that I know of.

Running on computational cluster - CentOS Linux release 7.9.2009 (Core)

Clade species are missing for many *.tre.bp files, e.g.,

pxbp -t example.tre -o example.tre.bp
produces the following example output:

[2022-10-21 16:11] josephwb commented on #174
Can you provide the files?

[2022-11-01 20:10] kateuckele commented on #174
Sorry for the delay! Here is an example of a .tre file and its corresponding output .bp file
[test3.rooted_trees.tre.bp.txt](https://github.com/FePhyFoFum/phyx/files/9913671/test3.rooted_trees.tre.bp.txt)
[test3.rooted_trees.tre.txt](https://github.com/FePhyFoFum/phyx/files/9913672/test3.rooted_trees.tre.txt)

[2022-11-01 23:01] josephwb commented on #174
Thanks.
I'm not sure exactly what the problem is. Is it that the clade members are not listed in the first clade? What are your expected results?

[2022-11-01 23:09] josephwb commented on #174
If this solves things, then perhaps you have 2 different versions of phyx, with each one having a different default value for verbosity.

Please try re-running the example files using the verbose flag and let me know if things are working correctly.

[2022-11-02 19:30] kateuckele commented on #174
I don't think that worked, but you are right that I'm using two versions of phyx. I'm using version 1.2 on my local computer, and I'm using 1.3 on the remote machine. I've attached a few output files for you. I've identified a potentially new issue that the v.1.3 output doesn't match the v.1.2 output (w/ same input tree files). While the verbose v.1.3 version matches the non-verbose v.1.3 version,

[2022-11-02 19:33] josephwb commented on #174
Yikes. Okay. It sounds like v1.3 is broken, almost certainly by me...

I will try to get to this soon. Thanks for pointing it out.